

.layout-left {
    margin-left: 20px;
    margin-right: 370px;
    padding: 25px 20px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 20px;
    top: 0;
    bottom: 20px;
    overflow: auto;
    .travel {
        position: absolute;
        top: 20px;
        bottom: 20px;
        overflow: auto;
        right: 0;
        left: 20px;
        padding-right: 20px;
        .order-title {
            border-bottom: 1px solid rgba(158, 165, 170, 0.5);
            padding-bottom: 20px;
            .car-type {
                font-size: 12px;
                color: #6E767D;
                line-height: 35px;
                b {
                    font-size: 20px;
                    color: #0E1A27;
                    font-weight: bold;
                    margin-right: 20px;
                }
            }
            .local {
                font-size: 14px;
                .icon_place {
                    display: inline-block;
                    width: 15px;
                    height: 18px;
                    // background: url('../../imgs/icon_place.png')no-repeat center;
                    background-size: contain;
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }
            .yellow {
                color: #F49F1F;
                font-style: normal;
            }
            .mr {
                margin-right: 30px;
            }
        }

    }
}