$color: #0E1A27;
$highlight_color: #F49F1F;
.vertical-center-modal {
	white-space: normal;
	word-break: break-all;
}
.ui-msg-wrap {
    width: 610px;
    color: $color;
    .ant-modal-header {
        padding: 25px 38px;
        border-bottom-color: #F5F7F9;
        font-size: 22px;
        text-align: center;
        color: $color;
    }
    .ant-modal-close {
        top: 25px;
        right: 38px;
        color: $color;
    }
    .ant-modal-close-x {
        height: 24px;
        width: 24px;
        font-size: 24px;
        &:before {
            height: 24px;
            line-height: 24px;
        }
    }
    .ant-modal-body {
        padding: 33px 38px;
        text-align: left;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
        .msg-content {
            > * {
                white-space: normal;
                word-wrap: break-word;
                word-break: break-all;
            }
        }
    }
    .ant-modal-footer {
        border-top-color: transparent;
        padding-bottom: 43px;
        button {
            width: 100px;
            height: 36px;
            padding: 0;
            text-align: center;
            border: 1px solid $highlight_color;
            line-height: 34px;
            font-size: 14px;
            &.ui-cancel-btn {
                color: $highlight_color;
                background: #fff;
            }
            &.ui-confirm-btn {
                color: #fff;
                background: $highlight_color;
            }
            &.ui-ok-btn {
                color: #fff;
                background: $highlight_color;
            }
            &.ui-confirm-btn-dis{
                background : #DDDEDF;
                border-color : #DDDEDF;
            }
        }
        .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline) {
            padding-left: 0;
        }
        button + button {
            margin-left: 20px;
        }
    }
}
