.time-input{
  border: 1px solid #DDDEDF;
  border-radius: 4px;
  height: 34px;
  line-height : 34px;
  padding : 0px 7px;
  width : 273px;
  cursor: pointer;
}
.J-HsSelect {
  border : 1px solid #e3e3e3;
  box-shadow: 1px 1px 20px #e3e3e3;
  position: absolute;
  z-index : 100;
  width : 273px;
  #triangle:before, #triangle:after{
    position:absolute;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    border-bottom:7px solid #e3e3e3;
    content:" ";
    width:0;
    height:0
  }
  #triangle:after{
    top: 1px;
    border-bottom-color: #fff;
  }
  #triangle{
    position:absolute;
    top: -8px;
    left: 20px;
  }

  table{
    width : 100%;
  }
  .ui-selector {
    background: #fff;
  }
  .ui-timer .hour-head,
  .ui-timer .minute-head {
    border-bottom: #ccc 1px dotted;
  }
  .ui-timer .hour-head,
  .ui-timer .minute-head {
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
  }
  .ui-timer .hour-body div {
    overflow-y: scroll;
    height: 167px;
    border-right: #e3e3e3 1px solid;
  }
  .ui-timer .hour-body a,
  .ui-timer .minute-body a {
    cursor: pointer;
    display: block;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    color: #333;
    line-height: 24px;
    height: 28px;
  }
  .ui-timer .hour-head {
    width: 50%;
  }
  .ui-timer .tool-part {
    border-top: 1px dotted #ccc;
    padding: 4px;
  }
  button.btn-tiny,
  input.btn-tiny {
    height: 24.4px;
    width: 100%;
    cursor: pointer;
  }
  .ui-button {
    background-color: #2c95fe;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    border: 1px solid #0066cc;
    height: 28px;
    line-height: 26px;
    padding: 0 25.6px;
    font-weight: 300;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    color: #fff !important;
    text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
    margin: 0;
    text-decoration: none;
    text-align: center;
  }
  .ui-timer .hour-body a.selected,
  .ui-timer .minute-body a.selected {
    background-color: #eee;
    font-weight: bold;
    color: #F49F1F !important;
  }
  .ui-timer .hour-body a.disable,
  .ui-timer .minute-body a.disable {
    font-weight: normal;
    color: #dbdbdb;
    outline: 0;
    cursor: default;
  }
  .ui-timer .hour-body a,
  .ui-timer .minute-body a {
    cursor: pointer;
    display: block;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    color: #333;
    line-height: 24px;
    height: 28px;
  }
  .ui-timer .hour-body a:hover,
  .ui-timer .minute-body a:hover {
    background-color: #eeeeee;
    text-decoration: none;
  }
  .ui-timer .hour-body a.selected:hover,
  .ui-timer .minute-body a.selected:hover {
    background-color: #eeeeee;
    text-decoration: none;
  }
}
