.cancel-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    background: transparent;
    z-index: 2000;
    .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
    }
    .cont {
        position: absolute;
        width: 700px;
        top: 100px;
        left: 50%;
        bottom: 100px;
        max-height: 520px;
        margin-left: -350px;
        border-radius: 4px;
        background: #fff;
        z-index: 1;
        overflow: hidden;
    }
    .title {
    	position: relative;
    	font-size: 22px;
    	padding: 24px 0 22px;
        text-align: center;
        border-bottom: 1px solid #F5F7F9;
        .close {
			position: absolute;
			top: 26px;
			right: 26px;
			font-size: 28px;
            cursor: pointer;
        }
    }
    .tip {
    	padding: 0 50px 20px;
    	line-height: 28px;
        border-bottom: 1px solid #F5F7F9;
        .t {
        	padding-top: 18px;
    		padding-bottom: 8px;
    		font-size: 16px;
        }
    }
    .cancel-t {
    	margin: 9px 50px 5px;
    	font-size: 16px;
    }
    .cancel-form {
        padding: 0 50px;
    	line-height: 1;
    	.form-row {
    		padding: 10px 0;
    	}
        label {
            font-size: 14px;
            user-select: none;
            margin: 0;
        }
    }
    .btns-row {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    	padding: 26px 0 36px;
    	text-align: center;
        background: #fff;
    	> div {
    		display: inline-block;
	    	width: 100px;
			height: 36px;
			border: 1px solid #f49f1f;
			line-height: 34px;
    		font-size: 16px;
	        border-radius: 4px;
	        text-align: center;
            cursor: pointer;
	    }   
	    .cancel-btn {
    		background: #f49f1f;
			color: #fff;
    	}
    	.confirm-btn {
    		margin-left: 10px;
    		background: #fff;
			color: #f49f1f;
    	}
    }
    .cont-inner {
        position: absolute;
        top: 80px;
        right: 0;
        bottom: 100px;
        left: 0;
        overflow: auto;
    }
    .ant-radio-inner {
        width: 18px;
        height: 18px;
        border-radius: 18px;
        &:after {
            width: 8px;
            height: 8px;
            left: 4px;
            top: 4px;
            border-radius: 8px;
        }
    }

}