
.travel-preview-par{
	background-color:#F5F7F9;
	margin-top:30px;
}
.travel-preview{
	background-color:#fff;
	.travel-day{
		border-bottom:1px solid rgba(158,165,170,0.2);
		.day-head{
			background-color:#F5F7F9;
			padding:18px 20px 16px 20px;
			.preview-title{
				font-size:14px;
				color:#0E1A27;
				.day{
					padding-right:10px;
				}
				.date{
					color:#6E767D;
					padding-left:20px;
				}
			}
			.day-detail{
				padding-top:7px;
				line-height:20px;
				font-size:12px;
				color:#0E1A27;
			}
		}
		.travel-consume-type{
			.type-list{
				display:flex;
				.travel-city{
					flex:8;
					border-right:1px solid rgba(158,165,170,0.2);
					width:380px;
					padding:20px 0 8px 21px;
					box-sizing:border-box;
					.city-name{
						color:#0E1A27;
						font-size:14px;
						.icon-city{
							font-size:15px;
							padding-right:10px;
						}
					}
					.place-diff{
						padding:10px 0 30px 73px;
						font-size:14px;
						color:#6E767D;
						.place-name{
							padding-right:40px;
						}
					}
				}
				.travel-vehicle{
					flex:10;
					border-right:1px solid rgba(158,165,170,0.2);
					width:498px;
					box-sizing:border-box;
					padding:20px 0 17px 45.5px;
					.vehicle-name{
						color:#0E1A27;
						font-size:14px;
						.icon-plane_1{
							font-size:16px;
							padding-right:16px;
						}
						.icon-car{
							font-size:16px;
							padding-right:18px;
						}
						.icon-ship,.icon-train{
							font-size: 16px;
							padding-right: 16px;
						}
					}
					.travel-destination-info{
						padding:10px 0 24px 40px;
						font-size:14px;
						color:#6E767D;
						line-height:20px;
						.duration{
							padding-left:15px;
						}
						&.hire-car{
							padding-bottom:0 !important;
						}
					}
				}
				.travel-hotel{
					flex:9;
					padding:20px 0 19px 32.5px;
					.hotel-title{
						color:#0E1A27;
						font-size:14px;
						.icon-hotel_1{
							font-size:16px;
							padding-right:15px;
						}
					}
					.travel-hotel-info{
						padding-top:10px;
						padding-left:33px;
						.hotel-name{
							font-size:14px;
							color:#006CE1;
							text-decoration:underline;
						}
						.reside-night{
							color:#6E767D;
							font-size:14px;
						}
					}
				}
			}
		}
	}
}
