.invoice-wrap {
    box-sizing: border-box;
    padding: 20px 20px 170px 250px!important;
    height: 100%;
    overflow: hidden;
    font-size: 14px;
    .invoice-cont {
        overflow: auto;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 34px 40px;
        border-radius: 4px;
        background: #fff;
    }
}

#ui-wrap {
    overflow: hidden;
    .ui-main {
        width: 100% !important;
        min-width: 100% !important;
        overflow: hidden;
    }
    .ui-main.ui-fixed-footer {
        position: static;
        margin-top: 68px;
        min-height: 100%;
    }
}

.result-block {
    padding: 34px 0;
    margin: auto;
    border-radius: 4px;
    text-align: center;
    background: rgba(89, 166, 2, .1);
    .result-status {
        display: inline-block;
        vertical-align: middle;
    }
    .status-ok {
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 82px;
        height: 82px;
        border: 2px solid #5BA705;
        border-radius: 50%;
        font-size: 82px;
        color: #5BA705;
        &:before {
            position: absolute;
            top: 34px;
            left: 33px;
            transform-origin: 100% 100%;
            transform: rotate(-45deg);
            content: '';
            display: block;
            background: #5BA705;
            width: 2px;
            height: 18px;
        }
        &:after {
            position: absolute;
            top: 54px;
            left: 34px;
            transform-origin: 0 0;
            transform: rotate(-135deg);
            content: '';
            display: block;
            background: #5BA705;
            width: 2px;
            height: 36px;
        }
    }
    .status-txt {
        margin-left: 20px;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        h3 {
            font-size: 18px;
            font-weight: normal;
            color: #5BA705;
        }
        span {
            color: #0E1A27;
        }
    }
}

.button-row {
    text-align: center;
    margin-top: 22px;
    button {
        height: 36px;
        padding: 0 28px;
        border: 1px solid #F49F1F;
        border-radius: 4px;
        line-height: 36px;
        font-size: 14px;
        color: #fff;
        background: #F49F1F;
        box-shadow: 0px 5px 10px rgba(244, 159, 31, 0.5);
        &:hover {
            border: 1px solid #F49F1F;
            color: #fff;
            background: #F49F1F;
            opacity: .8;
        }
    }

}