.ui-main {
    text-align: center;
}

.ui-hotel-main {
    width: 1000px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #0E1A27;
    > div {
        box-sizing: border-box;
        //padding-left: 20px;
        //padding-right: 20px;
        margin: auto;
        text-align: left;
        background:#fff;
    }
    h3 {
        font-size: 18px;
        font-weight: normal;
        line-height: 1;
        margin-bottom: 23px;
        &:before {
            content: "|";
            color: #F49F1F;
            padding-right: 10px;
        }
    }
    .cn-yen {
        &:before {
            content: '\00A5';
        }
    }
    .hotel-info,
    .rooms-info {
        padding: 20px 20px;
    }
    .base-info {
        margin-bottom: 20px;
        line-height: 1.5;
        .info {
            position: relative;
            float: left;
            width: 100%;
            //margin-right: 20px;
            vertical-align: middle;
            line-height: 1.5;
            font-size: 14px;
            background: #fff;
            padding: 20px;
            padding-right: 315px;

        }
        .ui-star {
            max-width: 120px;
            //padding-left: 20px;
            .icon-star,
            .icon-star-half {
                font-size: 14px;
            }
        }
        .mty {
            display: inline-block;
            padding-left: 32px;
            background: url('../images/maotuying_logo.png') no-repeat left 50%;
            background-size: 26px 15px;
        }
        .ui-score {
            font-size: 14px;
            .ui-score-main,
            s {
                height: 14px;
                line-height: 14px;
                font-size: 0;
                vertical-align: middle;
                background-size: auto 14px;
            }
            .ui-score-main {
                width: 65px;
            }
            .ui-score-view em {
                font-size: 14px;
            }
        }
        .cnname,
        .enname,
        .addr {
            //width: 700px;

        }
        .cnname {
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: bold;
        }
        .grade-info,
        .price {
            float: right;
            clear: right;
            text-align: right;
            width: 225px;
        }
        .price {
            font-size: 24px;
            color: #FA573D;
            &:after {
                content: '起';
                font-size: 14px;
            }
        }
        .price.no-price{
            &:after{
                content: '';
            }
            .cn-yen:before{
                content: '';
            }
        }
        .img-wrap {
            position: relative;
            //top: 82px;
            left: 0;
            width: 100%;
            height: 225px;
            margin-top : 8px;
        }
        .img-empty{
            background: url('../images/empty.png') no-repeat 50% 50%;
            background-size: cover;
        }
        .img-num {
            position: absolute;
            top: 15px;
            left: 330px;
            padding: 0 10px;
            border-radius: 4px;
            line-height: 28px;
            color: #fff;
            background: #000;
            opacity: .5;
            z-index: 1;
            &:after {
                content: '张图片';
            }
        }
        @mixin img-block {
            float : left;
            margin-right : 5px;
            margin-bottom : 5px;
        }
        .img {
            //position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(211, 221, 230, 0.4);
            background-image: none;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            cursor: pointer;
            float : left;
            margin-right : 10px;
        }
        .img1 {
            width: 430px;
            height: 225px;
        }
        .img2 {
            //left: 440px;
            width: 110px;
            height: 110px;
            @include img-block;

        }
        .img3 {
            //left: 585px;
            width: 110px;
            height: 110px;
            @include img-block;
            margin-right : 0
        }
        .img4 {
            //top: 115px;
            //left: 453px;
            width: 110px;
            height: 110px;
            @include img-block;
            margin-bottom : 0;
        }
        .img5 {
            //top: 115px;
            //left: 585px;
            width: 110px;
            height: 110px;
            @include img-block;
            margin-bottom : 0;
            margin-right : 0;
        }
        .img6 {
            //left: 717px;
            width: 110px;
            height: 110px;
            @include img-block;
        }
        .img7 {
            //left: 849px;
            width: 110px;
            height: 110px;
            @include img-block;
        }
        .img8 {
            //top: 115px;
            //left: 717px;
            width: 110px;
            height: 110px;
            @include img-block;
        }
        .img9 {
            //top: 115px;
            //left: 849px;
            width: 110px;
            height: 110px;
            @include img-block;
        }
    }
    .room-nav-fixed {
        height: 60px;
        ul {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid rgba(158, 165, 170, .2);
            background: #fff;
            li {
                float: left;
                padding: 0 20px 0 0;
                line-height: 57px;
                border-bottom: 3px solid transparent;
                font-size: 14px;
                cursor: pointer;
                &.active {
                    border-color: #F49F1F;
                    color: #F49F1F;
                }
                &:first-child {
                    padding-left: 20px;
                }
            }
            li+li {
                &:before {
                    content: " ";
                    padding-left: 20px;
                    line-height: 14px;
                    border-left: 1px solid rgba(158, 165, 170, .2);
                }
            }
        }
    }
    .rooms-info {
        > div {
            margin-bottom: 20px;
        }
        .ant-calendar-picker {
            vertical-align: top;
            font-size: 14px;
        }
        .ant-calendar-picker-input {
            input {
                font-size: 14px;
                color: #0E1A27;
            }
        }
        .ant-calendar-picker,
        .room-select,
        .ui-guest-select-wrap {
            margin-right: 20px;
        }
        .button-group {
            display: inline-block;
            width: 100px;
            height: 36px;
            button {
                background: #F49F1F;
                color: #fff;
                width: 100%;
                height: 100%;
                font-size: 14px;
                border-radius: 4px;
                outline: none;
                border: 1px solid #F49F1F;
                &:hover {
                    border-color: #F49F1F;
                }
            }
        }
        .check-group{
            font-family: MicrosoftYaHeiLight;
            font-size: 14px;
            color: #0E1A27;
            letter-spacing: 0;
            margin-top: 15px;
            .ant-checkbox-wrapper{
                margin-right : 15px;
                font-size: 14px;
                .ant-checkbox-inner{
                    top : -3px;
                }
            }
        }
        .rooms-table {
            border: 1px solid #D3DDE6;
            border-bottom: 2px solid #D3DDE6;
            table {
                width: 100%;
                font-size: 14px;
                tr {
                    border-bottom: 1px dotted #D3DDE6;
                }
                thead tr {
                    border-bottom: 2px solid rgba(211, 221, 230, .5);
                }
                th {
                    padding: 0 0 0 20px;
                    line-height: 25px;
                    background: rgba(211, 221, 230, .5);
                    white-space: nowrap;
                }
                td {
                    padding: 12px 0 12px 20px;
                    &.tac {
                        text-align: center;
                    }
                    &.action {
                        padding-right: 20px;
                    }
                }
                tr.progress-wrap {
                    border-bottom: none;
                    .progress {
                        padding: 0;
                        height: 3px;
                        line-height: 2px;
                        border-bottom: none;
                        font-size: 0;
                        > div {
                            padding: 0;
                            height: 2px;
                        }
                        .ant-progress {
                            width: 958px;
                            font-size: 0;
                            div {
                                font-size: 0;
                            }
                            .ant-progress-inner {
                                background: #a6c6ee;
                            }
                            .ant-progress-bg {
                                &:before {
                                    background-color: #2b7de1;
                                }
                            }
                        }
                    }
                }
                .ant-spin {
                    text-align: center;
                    vertical-align: middle;
                    line-height: 20px;
                    color: #6D767C;
                    .ant-spin-dot {
                        display: inline-block;
                        i {
                            background-color: #6D767C;
                        }
                    }
                    .ant-spin-text {
                        display: inline-block;
                        margin-left: 40px;
                        font-size: 14px;
                    }
                }
                .non-room {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    font-size: 14px;
                    text-align: center;
                    color: #6D767C;
                }
                .room-hide {
                    display: none;
                    tr,
                    td,
                    th {
                        border-bottom: 0 none;
                    }
                }
                .room-vendor {
                    word-break: break-all;
                }
                .max-15em{
                    width : 15em;
                }
                .room-name,
                .breakfast,
                .bed,
                .total,
                .action,
                .cancel-policy {
                    white-space: nowrap;
                    word-break: keep-all;
                }
                .cancel-policy{
                    position: relative;
                    cursor: pointer;
                    &.cancel-policy-show{
                        &>.cancel-inner{
                            display: block;
                        }
                    }
                }
                .cancel-inner{
                    position: absolute;
                    top: 50%;
                    background: #D9E2EB;
                    left: 40px;
                    font-size: 12px;
                    line-height: 1.5em;
                    padding: 10px;
                    z-index : 20;
                    display : none;
                }
                td.room-name {
                    color: #F49F1F;
                }
                td.cancel-policy span {
                    display: block;
                    line-height: 30px;
                    span {
                        line-height: 20px;
                        font-size: 12px;
                        color: #6E767D;
                    }
                }
                .total {
                    text-align: right;
                }
                .per-price{
                    text-align: right;
                }
                .local-price{
                    color: #6E767D;
                    font-size: 12px;
                }
                td.total {
                    color: #FA573D;
                    line-height: 20px;
                }
                .show-btn {
                    height: 34px;
                    padding: 0;
                    border-top: 1px solid #FFDCA7;
                    border-bottom: 1px solid #D3DDE6;
                    button {
                        width: 100%;
                        height: 34px;
                        line-height: 34px;
                        border: none;
                        background: rgba(244, 159, 31, .05);
                        border-radius: 0;
                        font-size: 12px;
                        color: #F49F1F;
                    }
                }
            }
            .book-btn {
                width: 82px;
                height: 30px;
                font-size: 14px;
                border-radius: 4px;
                border-color: #F49F1F;
                color: #fff;
                background: #F49F1F;
            }
        }
    }
    .ui-countrys{
        width: 204px;
    }
    .hotel-info,
    .room-info,
    .facilities-info,
    .book-info {
        padding: 24px 20px 0 20px;
        padding-bottom: 0;
        &:after {
            content: " ";
            display: block;
            clear: left;
            height: 1px;
            overflow: hidden;
            padding-top: 24px;
            border-bottom: 1px solid rgba(158, 165, 170, .2);
        }
    }
    .disclaimer-info{
        font-size: 14px;
        color: #F49F1F;
        letter-spacing: 0;
        line-height: 24px;
    }
    .hotel-info {}
    .room-info,
    .facilities-info {
        ul {
            padding: 0 16px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
            li {
                position: relative;
                box-sizing: border-box;
                width: 20%;
                padding: 0 20px 0 25px;
                line-height: 30px;
                span {
                    position: absolute;
                    left: 0;
                    top: 9px;
                    font-size: 12px;
                    color: #F49F1F;
                }
            }
        }
    }
    .book-info {
        padding-bottom: 20px;
        //margin-bottom: 150px;
        > div {
            padding-left: 97px;
            margin-bottom: 20px;
            line-height: 30px;
            h5 {
                float: left;
                margin-left: -97px;
                font-size: 14px;
            }
        }
        .payment {
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: flex-start;
                li {
                    position: relative;
                    box-sizing: border-box;
                    width: 33%;
                    padding: 0 20px 0 40px;
                    &:before {
                        content: " ";
                        display: block;
                        position: absolute;
                        left: 13px;
                        top: 50%;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background: #0E1A27;
                    }
                }
            }
        }
        .others {
            ul {
                li {
                    position: relative;
                    padding-left: 40px;
                    &:before {
                        content: " ";
                        display: block;
                        position: absolute;
                        left: 13px;
                        top: 50%;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background: #0E1A27;
                    }
                }
            }
        }
    }
}

.WG-MapFullScreen{
    display : none;
}
.ant-select-dropdown-menu-item-group-title{
    background: #3E4852;
    color:#fff;
}