@import "./font.scss";
@import "./layout.scss";
@import "./reset.scss";
// 全局样式
body{
  color: #0E1A27;
}
.flex-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-top{
  align-items: flex-start;
}
.flex1-box{
  flex : 1;
}
.form-fill-control{
  margin-bottom : 15px;
  lable{
    width : 100px;
  }
}
.ui-fixed-footer{
  bottom:120px!important;
}
.clearfix:before,.clearfix:after{    
    content:"";    
    display:table;    
}    
.clearfix:after{clear:both;}    
.clearfix{    
    *zoom:1; 
}