.comment {
    width: 680px;
    background-color: #fff;
    padding: 30px 20px 30px 30px;
    font-size: 14px;
    color: #0E1A27;
    border-radius: 4px;
    h2 {
        font-size: 16px;
        font-weight: normal;
        padding-bottom: 25px;
    }
    dl {
        padding-bottom: 20px;
        border-bottom: 1px dotted #9EA5AA;
        margin-bottom: 15px;
        dt,
        dd {
            float: left;
        }
        dt {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            overflow: hidden;
            background-image: url('../images/avatar.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        dd {
            width: 584px;
            margin-left: 10px;
            overflow: hidden;
            h3 {
                font-weight: normal;
                padding-bottom: 10px;
                span {
                    float: left;
                    font-size: 16px;
                    em,
                    small {
                        display: block;
                    }
                    small {
                        font-style: normal;
                        color: #6E767D;
                        font-size: 12px;
                    }
                    &.trip {
                        float: right;
                        text-align: right;
                        .ui-star {
                            float: none;
                            display: inline-block;
                            position: relative;
                            right: -5px;
                            s {
                                color: #FFCF03;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    ul {
        width: 585px;
        padding-top: 10px;
        li {
            float: left;
            width: 55px;
            height: 55px;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 10px;
            cursor: pointer;
        }
    }
    p {
        line-height: 24px;
        color: #0E1A27;
        word-break: break-all;
        word-wrap: break-word;
        &.reply {
            color: #6E767D;
            padding: 10px;
            border-radius: 3px;
            background: #F5F6F7;
            position: relative;
            margin-top: 18px;
            &::before {
                content: '';
                border-top: 8px solid transparent;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 11px solid #F5F6F7;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                top: -18px;
                left: 20px;
                position: absolute;
            }
        }
    }
    .empty {
        text-align: center;
        padding: 0 0 200px;
        background: url('../images/empty.png') no-repeat center 110px;
        background-size: 110px 97px;
        p {
            padding-top: 230px;
            color: #9EA5AA;
        }
    }
}