.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.main-wrapper {
  font-family: "MicroSoft YaHei";
  width: 7.5rem;
  margin: 0 auto;
  background: url("images/bgl.png") repeat; }
  .main-wrapper .top {
    width: 100%;
    height: 8.35rem; }

.top {
  position: relative; }
  .top .head-pic {
    width: 100%;
    height: 7.2rem;
    background: url("images/bg.png") no-repeat center;
    background-size: cover; }
  .top .guider {
    height: 2.86rem;
    width: 6.87rem;
    background: url("images/border.png") no-repeat;
    background-position: 0px 0.4rem;
    background-size: contain;
    position: relative;
    bottom: 1.85rem;
    left: 0.3rem; }
    .top .guider .guider-box {
      width: 5.9rem;
      height: 2.95rem;
      position: absolute;
      bottom: 0.48rem;
      left: 50%;
      margin-left: -3.22rem; }
    .top .guider .no1 {
      background: url("images/guide1.png") no-repeat center;
      background-size: inherit;
      display: none; }
    .top .guider .no2 {
      background: url("images/guide2.png") no-repeat center;
      background-size: inherit;
      display: none; }
    .top .guider .no3 {
      background: url("images/guide3.png") no-repeat center;
      background-size: inherit;
      display: none; }
    .top .guider .no4 {
      background: url("images/guide4.png") no-repeat center;
      background-size: inherit;
      display: none; }
    .top .guider .who {
      display: inline-block;
      /* width: 175px;
      height: 55px; */
      width: 1.91rem;
      height: 0.7rem;
      text-align: center;
      padding-left: 0.05rem;
      font-size: 0.3rem;
      font-weight: bold;
      color: #000;
      position: absolute;
      bottom: -0.25rem;
      left: 50%;
      margin-left: -0.95rem;
      background: url("images/who_btn.png") no-repeat center;
      background-size: cover;
      	/* background-color: #ffe536;
          border: 2px solid #000;
          border-radius: 7px;
          box-shadow: -3px -3px 20px inset; */ }

.user-input {
  text-align: center;
  font-size: 0; }
  .user-input input {
    display: block;
    width: 5.85rem;
    height: 0.8rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    font-size: 0.32rem;
    text-align: center; }
  .user-input .num {
    margin: 0.4rem auto;
    background-color: #fff; }
  .user-input .coupon {
    background-color: #ffe536;
    margin: 0.15rem auto;
    font-weight: bold;
    box-shadow: -0rem -0.04rem 0rem #9c8802 inset; }
  .user-input p {
    font-size: 0.22rem;
    display: inline-block; }
    .user-input p a {
      color: #4f4f4f;
      vertical-align: middle; }
    .user-input p .icon-rule {
      display: inline-block;
      width: 0.22rem;
      height: 0.22rem;
      background: url(images/icon-rule.png) no-repeat center;
      margin-left: 0.1rem;
      background-size: cover;
      vertical-align: middle; }

.c-title {
  width: 3.15rem;
  height: 0.86rem;
  background: url("images/hot-sale.png") no-repeat center;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  left: -0.1rem; }

.sku-banner {
  margin-top: 0.4rem;
  height: 4.4rem;
  overflow: hidden;
  position: relative; }
  .sku-banner ul {
    position: absolute;
    left: 50%;
    margin-left: -0.44rem;
    bottom: 1rem;
    z-index: 99; }
    .sku-banner ul li {
      float: left;
      margin: 0 0.05rem; }
      .sku-banner ul li span {
        display: inline-block;
        width: 0.15rem;
        height: 0.15rem;
        border-radius: 50%;
        background-color: #a5918a;
        opacity: 0.8; }
      .sku-banner ul li span.active {
        opacity: 1;
        background-color: #ffffff; }
  .sku-banner .banner-wrap {
    width: 6.88rem;
    height: 3.32rem;
    background: url("images/banner.png") no-repeat center;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 0.17rem;
    margin: 0.2rem auto;
    position: relative;
    overflow: hidden;
    /* ul{
    	position: absolute;
    	left: 50%;
    	margin-left: -0.44rem;
    	bottom: 1rem;
    	li{
    		float: left;
    		margin: 0 0.05rem;
    		span{
    			display: inline-block;
    			width: 0.15rem;
    			height: 0.15rem;
    			border-radius: 50%;
    			background-color: #a5918a;
    			opacity: 0.8;
    		}
    		span.active{
    			opacity: 1;
    			background-color:#ffffff;
    		}
    	}
    } */ }
    .sku-banner .banner-wrap .goods-detail {
      width: 100%;
      height: 0.93rem;
      padding: 0.2rem;
      padding-bottom: none;
      background-color: #fff;
      position: absolute;
      bottom: 0; }
      .sku-banner .banner-wrap .goods-detail p {
        font-size: 0.28rem; }
    .sku-banner .banner-wrap .btn-prev, .sku-banner .banner-wrap .btn-next {
      width: 0.6rem;
      height: 0.6rem;
      border: 1px solid #afb3ca;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      margin-top: -0.6rem;
      cursor: pointer; }
    .sku-banner .banner-wrap .btn-prev {
      left: 0.1rem;
      background: url("images/pre.png") no-repeat center; }
    .sku-banner .banner-wrap .btn-next {
      right: 0.1rem;
      background: url("images/next.png") no-repeat center; }
    .sku-banner .banner-wrap .price-wrap {
      position: absolute;
      width: 2.3rem;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      padding-left: 0.15rem;
      background: url("images/top_btn.png") no-repeat;
      background-size: cover;
      top: 0.25rem;
      right: 0;
      font-size: 0.26rem;
      color: #000; }
      .sku-banner .banner-wrap .price-wrap span {
        font-size: 0.16rem;
        color: #423a11; }

.service {
  margin-top: 0.4rem; }
  .service .c-title {
    background: url("images/service.png") no-repeat center;
    background-size: contain; }
  .service .service-con {
    margin-top: 0.15rem; }
    .service .service-con ul {
      border: 1px solid #000;
      border-radius: 0.17rem;
      width: 6.9rem;
      height: 0.8rem;
      overflow: hidden;
      line-height: 0.8rem;
      background-color: #f7f7f5;
      margin: 0 auto; }
      .service .service-con ul li {
        float: left;
        width: 33.3%;
        height: 100%;
        font-size: 0.34rem;
        text-align: center; }
        .service .service-con ul li.active {
          background-color: #ffe536; }
          .service .service-con ul li.active a {
            color: #000; }
        .service .service-con ul li a {
          color: #7b7b7a;
          display: block; }
    .service .service-con .service-detail {
      width: 5.8rem;
      height: 1.9rem;
      margin: 0 auto; }
    .service .service-con .jsj {
      background: url("images/jsj.png") no-repeat center;
      background-size: cover; }
    .service .service-con .dc {
      background: url("images/dc.png") no-repeat center;
      background-size: cover;
      display: none; }
    .service .service-con .bc {
      background: url("images/bc.png") no-repeat center;
      background-size: cover;
      display: none; }

.res-list {
  border: 1px solid #000;
  border-radius: 0.17rem;
  background-color: #fff;
  margin-top: 0.25rem; }
  .res-list .main-list li {
    height: 2.43rem;
    padding: 0.3rem 0.2rem;
    position: relative;
    border-bottom: 1px solid #cccccc; }
    .res-list .main-list li a {
      display: block;
      overflow: hidden; }
      .res-list .main-list li a .img-wrap {
        width: 2.45rem;
        height: 1.85rem;
        float: left;
        margin-right: 0.2rem;
        background: url("images/view.png") no-repeat center;
        background-size: cover; }
      .res-list .main-list li a .cen-wrap .cen-title {
        font-size: 0.28rem;
        color: #000; }
      .res-list .main-list li a .cen-wrap .price {
        background: url("images/price.png") no-repeat center;
        background-size: contain;
        font-size: 0.33rem;
        width: 1.7rem;
        height: 0.8rem;
        line-height: 0.8rem;
        position: absolute;
        bottom: 0.28rem;
        right: 0.2rem;
        color: #000;
        text-align: center; }
        .res-list .main-list li a .cen-wrap .price span {
          font-size: 0.15rem;
          margin-left: 0.05rem; }
        .res-list .main-list li a .cen-wrap .price p {
          font-size: 0.15rem; }
  .res-list .more {
    height: 0.9rem;
    line-height: 0.9rem;
    position: relative;
    padding-left: 0.2rem;
    padding-right: 0.3rem; }
    .res-list .more a {
      color: #b2b2b2;
      font-size: 0.32rem;
      float: left;
      line-height: 0.9rem; }
    .res-list .more .dot {
      position: absolute;
      right: 0.4rem;
      float: right;
      vertical-align: middle;
      line-height: 0.9rem;
      font-size: 0; }
      .res-list .more .dot span {
        display: inline-block;
        height: 0.15rem;
        width: 0.15rem;
        background-color: #b2b2b2;
        margin: 0 0.05rem;
        border-radius: 50%;
        vertical-align: middle;
        line-height: 0.9rem; }

.u-define .class-z, .u-define .class-s {
  position: absolute;
  bottom: 0.3rem;
  left: 3rem;
  color: #46befc;
  font-size: 0.15rem; }
  .u-define .class-z .icon-z, .u-define .class-s .icon-z, .u-define .class-s .icon-s {
    display: block;
    padding: 0 0.04rem;
    white-space: nowrap;
    width: 0.85rem;
    height: 0.35rem;
    margin-bottom: 0.1rem;
    color: #fff;
    background-color: #46befc;
    border-radius: 0.1rem;
    text-align: center;
    line-height: 0.35rem;
    box-sizing: content-box; }
.u-define .class-s {
  color: #64d92a; }
  .u-define .class-s .icon-s {
    background-color: #64d92a; }

.main-wrapper .foot {
  margin-top: 0.4rem;
  margin-bottom: 0.2rem; }
  .main-wrapper .foot .foot-top {
    width: 100%;
    height: 0.77rem;
    background: url("images/foot.png") no-repeat center;
    background-size: cover; }
  .main-wrapper .foot .foot-con {
    margin: 0 auto;
    padding: 0.2rem 0;
    font-size: 0.22rem;
    background-color: #fff;
    color: #aeaeae;
    text-align: center;
    line-height: 0.35rem; }
.main-wrapper .btn-aside {
  position: fixed;
  right: 0.3rem;
  bottom: 0.3rem; }
  .main-wrapper .btn-aside button {
    display: block;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: #ffe536; 
    font-size: 0;
  }
  .main-wrapper .btn-aside .light {
    margin-bottom: 0.35rem; }
    .main-wrapper .btn-aside .light span {
      width: 0.52rem;
      height: 0.52rem;
      background: url("images/light.png") no-repeat center;
      background-size: cover;
      display: inline-block; }
  .main-wrapper .btn-aside .backTop span {
    width: 0.52rem;
    height: 0.52rem;
    background: url("images/top.png") no-repeat center;
    background-size: cover;
    display: inline-block; }

.popup .popup-top {
  margin-top: 0.6rem;
  position: relative;
  height: 0.67rem;
  background-color: transparent; }
  .popup .popup-top .btn-close {
    width: 0.67rem;
    height: 0.67rem;
    background: url("images/close1.png") no-repeat center;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0.2rem; }
.popup .btn-know {
  display: block;
  position: absolute;
  bottom: -0.35rem;
  left: 50%;
  margin-left: -1.4rem;
  font-weight: bold;
  width: 2.8rem;
  height: 0.75rem;
  font-size: 0.32rem;
  text-align: center;
  background-color: #ffe536;
  color: #000;
  border: 1px solid #000;
  border-radius: 0.15rem;
  box-shadow: -0rem -0.05rem 0rem #9c8802 inset; }

.popup-guide {
  width: 6.3rem;
  margin: 0 auto;
  position: relative; }
  .popup-guide .popup-inner {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.17rem;
    overflow: hidden; }
    .popup-guide .popup-inner .img-wrap {
      width: 6.35rem;
      height: 3.1rem;
      background: url("images/dsc.png") no-repeat center;
      background-size: cover; }
    .popup-guide .popup-inner .inner-text {
      text-align: center;
      padding-bottom: 0.75rem; }
      .popup-guide .popup-inner .inner-text h3 {
        font-size: 0.3rem;
        color: #7451af;
        margin: 0.3rem auto; }
        .popup-guide .popup-inner .inner-text h3 .icon-car {
          width: 0.38rem;
          height: 0.3rem;
          position: relative;
          right: 0.05rem;
          top: 0.05rem;
          display: inline-block;
          background: url("images/car.png") no-repeat center;
          background-size: cover; }
      .popup-guide .popup-inner .inner-text p {
        line-height: 0.4rem; }
      .popup-guide .popup-inner .inner-text p:nth-child(odd) {
        font-size: 0.25rem;
        color: #a3a3a3; }
      .popup-guide .popup-inner .inner-text p:nth-child(even) {
        font-size: 0.3rem;
        color: #000; }

.popup-had {
  width: 5.2rem; }
  .popup-had .popup-inner {
    height: 1.9rem;
    padding: 0.5rem 0.2rem; }

.popup-rules {
  width: 6.1rem;
  margin: 0 auto;
  position: relative; }
  .popup-rules .popup-inner {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.17rem;
    position: relative; }
    .popup-rules .popup-inner .rule-title {
      width: 3.85rem;
      height: 0.97rem;
      background: url("images/rules.png") no-repeat center;
      background-size: cover;
      position: absolute;
      top: -0.6rem;
      left: 50%;
      margin-left: -1.925rem; }
    .popup-rules .popup-inner .inner-text {
      margin: 0.7rem 0.4rem 0.5rem 0.7rem; }
      .popup-rules .popup-inner .inner-text ol li {
        list-style-type: decimal;
        font-size: 0.26rem; }
      .popup-rules .popup-inner .inner-text p {
        font-size: 0.26rem;
        color: #555452;
        line-height: 0.4rem; }

.red-envelope {
  width: 6.92rem;
  margin: 0 auto; }
  .red-envelope .popup-inner {
    width: 6.92rem;
    height: 10.2rem;
    background: url("images/red-bg.png") no-repeat center;
    background-size: cover;
    position: relative; }
    .red-envelope .popup-inner .btn-wrap {
      position: relative;
      top: 1.7rem;
      width: 6.3rem;
      margin: 0 auto; }
      .red-envelope .popup-inner .btn-wrap input {
        width: 2.65rem;
        height: 0.92rem;
        border: 1px solid #000;
        border-radius: 0.17rem;
        background-color: #ffe536;
        font-size: 0.34rem;
        font-weight: bold; }
      .red-envelope .popup-inner .btn-wrap .use-btn {
        float: left; }
      .red-envelope .popup-inner .btn-wrap .share-btn {
        float: right; }
    .red-envelope .popup-inner .money {
      width: 6.3rem;
      height: 6.65rem;
      position: absolute;
      bottom: 0.5rem;
      left: 0.3rem;
      background: #faefb9;
      border: 1px solid #000; }
      .red-envelope .popup-inner .money .money-inner {
        height: 6.2rem;
        width: 100%;
        overflow-y: auto; }
      .red-envelope .popup-inner .money .tips {
        text-align: center;
        width: 5.8rem;
        margin: 0.4rem auto;
        position: relative;
        height: 0.3rem; }
        .red-envelope .popup-inner .money .tips p {
          font-size: 0.25rem;
          color: #020202; }
        .red-envelope .popup-inner .money .tips .line {
          width: 0.45rem;
          height: 0.01rem;
          background: #020202;
          position: absolute;
          top: 0.15rem; }
      .red-envelope .popup-inner .money .card-wrap .card-all {
        width: 5.8rem;
        height: 1.6rem;
        margin: 0 auto;
        background: url("images/bg3.png") no-repeat center;
        background-size: cover;
        margin-bottom: 0.35rem; }
        .red-envelope .popup-inner .money .card-wrap .card-all .price {
          width: 1.9rem;
          text-align: center;
          font-weight: bold;
          height: 100%; }
          .red-envelope .popup-inner .money .card-wrap .card-all .price sub {
            bottom: 0.05rem;
            color: #ee3c30;
            font-size: 25%; }
          .red-envelope .popup-inner .money .card-wrap .card-all .price span {
            font-size: 0.5rem;
            color: #ee3c30;
            vertical-align: middle}

.card-all .price-con {
  margin-top: 0.4rem;
  margin-left: 0.2rem; }
  .card-all .price-con ul li {
    float: left;
    margin-right: 0.2rem;
    font-size: 0.22rem;
    padding: 0rem 0.05rem;
    height: 0.35rem;
    line-height: 0.3rem;
    border-radius: 0.05rem; }
    .card-all .price-con ul li:last-child {
      margin-right: 0; }
  .card-all .price-con ul .all {
    color: #146aba;
    border: 1px solid #146aba; }
  .card-all .price-con ul .jsj {
    color: #4a8f01;
    border: 1px solid #4a8f01; }
  .card-all .price-con ul .bc {
    color: #8203bd;
    border: 1px solid #8203bd; }
  .card-all .price-con ul .dc {
    color: #f1d23f;
    border: 1px solid #f1d23f; }
  .card-all .price-con ul .line-bc {
    color: #f08a2f;
    border: 1px solid #f08a2f; }
  .card-all .price-con p {
    font-size: 0.3rem;
    margin-top: 0.15rem; }

.lace {
  position: absolute;
  width: 6.31rem;
  height: 0.11rem;
  background: url("images/lace.png") no-repeat center;
  background-size: cover;
  bottom: -1px; }

.popup-inner .foot-text {
  font-size: 0.18rem;
  color: #fff;
  text-align: center;
  margin-top: 0.53rem; }

.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
  top: 0;
  display: none; }

/*# sourceMappingURL=style.css.map */
