.main-wrap .ucenter {
  width: 1000px;
  left: 50%;
  margin-left: -500px;
  padding-left: 0;
  padding-right: 0; }
  .main-wrap .ucenter .y-left {
    width: 200px;
    height: 250px;
    padding: 0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px; }
    .main-wrap .ucenter .y-left .user-nav h2 {
      margin: 0;
      padding: 0;
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      color: #0E1A27;
      padding-left: 18px;
      font-weight: bold; }
    .main-wrap .ucenter .y-left .user-nav ul {
      margin: 0;
      padding: 0; }
      .main-wrap .ucenter .y-left .user-nav ul li {
        list-style-type: none;
        height: 50px;
        border-left: 3px solid #fff;
        border-top: 1px solid rgba(226, 226, 227, 0.6); }
        .main-wrap .ucenter .y-left .user-nav ul li:last-child {
          height: 40px; }
          .main-wrap .ucenter .y-left .user-nav ul li:last-child:hover {
            background: #fff;
            border-left: 0; }
        .main-wrap .ucenter .y-left .user-nav ul li:hover {
          background: #FEFAF4;
          border-left: 3px solid #F49F1F; }
        .main-wrap .ucenter .y-left .user-nav ul li a {
          font-size: 16px;
          color: #0E1A27;
          line-height: 52px;
          display: block;
          padding-left: 42px; }
          .main-wrap .ucenter .y-left .user-nav ul li a:hover {
            color: #F49F1F;
            text-decoration: none; }
  .main-wrap .ucenter .y-right {
    margin-left: 200px;
    margin-right: 0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px; }
    .main-wrap .ucenter .y-right .suggestion h1 {
      font-size: 24px;
      color: #0E1A27;
      margin: 0; }
    .main-wrap .ucenter .y-right .suggestion .area-box {
      position: relative; }
      .main-wrap .ucenter .y-right .suggestion .area-box .sug-area {
        font-size: 14px;
        width: 696px;
        height: 280px;
        margin-top: 28px;
        margin-bottom: 28px;
        padding: 10px 15px;
        background: #FFFFFF;
        border: 1px solid #DDDEDF;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
        resize: none; }
      .main-wrap .ucenter .y-right .suggestion .area-box .count {
        position: absolute;
        right: 25px;
        bottom: 45px;
        font-size: 12px;
        color: #6D767C; }
    .main-wrap .ucenter .y-right .suggestion .submit-box {
      text-align: center; }
      .main-wrap .ucenter .y-right .suggestion .submit-box .submit {
        width: 180px;
        height: 36px;
        background: #F49F1F;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
        color: #fff;
        font-size: 18px;
        border: none;
        -webkit-box-shadow: 0px 5px 10px rgba(244, 159, 31, 0.5);
           -moz-box-shadow: 0px 5px 10px rgba(244, 159, 31, 0.5);
                box-shadow: 0px 5px 10px rgba(244, 159, 31, 0.5); }
