.c-selected{
  div{
    box-sizing: border-box;
  }
  input {
    border: none;
    outline: none;
  }
  body{
    font-family: "PingFang SC","Microsoft YaHei";
    font-size: 12px;
  }
  .luggage-info{
    position: relative;
    padding-left: 130px;
    span{
      font-size: 12px;
      color: #0E1A27;
      width: 110px;
      display: inline-block;
      position: absolute;
      left: 0;
      text-align: right;
    }
    ul{
      li{
        list-style-type: disc;
        color: #6D767C;
        font-size: 12px;
        line-height: 26px;
        margin-left: 18px;
        em{
          font-weight: bold;
          color: #FA573D;
        }
        &:first-child{
          list-style-type: none;
          margin-left: 0;
        }
      }
    }
  }
  .c-passengerWrap{
    position: relative;
    width: 600px;
    // min-height:190px;
    display: inline-block;
    .passenger-message{
      font-size: 18px;
      font-weight: normal;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
  .form-num{
      width:100%;
      margin-bottom:20px;
      .adult-all,.child-all{
        display:inline-block;
        margin-right:30px;
      }
   .text{
        font-size: 12px;
        color: #6D767C;
        margin-left: 5px;
   }
  }
  .form-num .passerger {
     display: inline-block;
      span{
        display: inline-block;
        line-height: 35px;
        font-size: 12px;
        color: #0E1A27;
        width: 110px;
        position: relative;
        text-align: right;
        margin-right:24px;
        &::after{
          content:'*';
          color: #FA573D;
          position:absolute;
          right: -10px;
          top: 3px;
        }
      }
      i{
        display: inline-block;
        line-height: 35px;
        font-size: 12px;
        color: #0E1A27;
        width: 110px;
        position: relative;
        text-align: right;
        margin-right:24px;
        &::after{
          content:' ';
          color: #FA573D;
          position:absolute;
          right: -10px;
          top: 3px;
        }
      }
    }
  .form-num .form-num-box {
     display: inline-block;
      position:relative;
      font-size: 0;
      text-align: center;
      width: 142px;
      height: 42px;
      border: 1px solid #DDDEDF;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      font-size: 0;
      vertical-align: middle;
      margin-right:5px;
      i{
          display: inline-block;
          background: #D3DDE6;
          user-select:none;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          font-size: 25px;
          vertical-align: middle;
          cursor: pointer;
          position:absolute;
          top:0;
        }
  }
  .form-num-box {
    .num-box-sub{
      left:0;
    }
    .num-box-add{
      right:0;
    }
  }
  .form-num-box input {
      width: 60px;
      text-align: center;
      height: 40px;
      border: none;
      padding: 0;
      font-size: 14px;
      vertical-align: middle;
  }

}
