.ui-order-detail-status-wrap{
	// width: 940px;
	height: 150px;
	border-radius: 4px;
	padding: 34px 0;
	.inner{
		width: 300px;
		margin: 0 auto;
		.img-box{
			display: inline-block;
			width: 82px;
			height: 82px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		.text-box{
			padding-left: 20px;
			color: #0E1A27;
			display: inline-block;
		}
		.font16{
			font-size: 16px;
		}
		.font14{
			font-size: 14px;
		}
	}
	&.pay-success{
	    background: rgba(89, 166, 2, 0.1);
		.inner .img-box{
			background-image: url(../images/success.png);
		}
		.success{
			color: #59A602;
			margin-bottom: 10px;
		}
		.price{
			font-size: 20px;
			color: #FA573D;
			font-weight: bold;
		}
	}	
	&.pay-error{
		background: rgba(250, 87, 61, 0.1);
		.inner .img-box{
			background-image: url(../images/error.png);
		}
		.error{
			color: #FA573D;
			&:last-child{
				margin-bottom: 10px;
			}
		}
	}
}