.ui-order-detail-status-wrap{
  background: rgba(15,186,200,0.10);
  border-radius: 4px;
  font-family: MicrosoftYaHei-Bold;
  font-size: 14px;
  color: #10BAC8;
  letter-spacing: 0px;
  padding : 10px;
  .WG-OrderStaTip{
    margin-left : 20px;
  }
  &.hotel-1001{
    background: rgba(243,159,30,0.10);
    .WG-OrderStaTip{
      font-size: 12px;
      color: #0E1A27;
      letter-spacing: 0px;
      span{
        font-size: 12px;
        color: #FA573D;
        letter-spacing: 0px;
        margin : auto 10px;
      }
    }
    .WG-OrderStaDes{
      color: #F49F1F;
    }
  }
}
