.storyCont{
    padding: 30px;
    h2{
        font-size: 18px;
        margin-bottom: 20px;
        color: #0E1A27;
    }
    .story-cover{
        width: 620px;
        height: 270px;
        margin-bottom: 10px;
        background-color: #cecece;
    }
    .section{
        margin-bottom: 10px;
        p{
            font-size: 14px;
            color: #6E767D;
            line-height: 30px;
        }
        img{
            width: 620px;
            margin: auto;
            background-color: #cecece;
        }
    }
}
