.service-win {
    position: fixed;
    right: 10px;
    top: 50%;
    z-index: 10;
    margin-top: -70px;
    overflow: visible;
    height: 168px;
    .tag {
        width: 20px;
        height: 20px;
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -10px;
        background: #fff;
        border: 1px solid #F49F1F;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        color: #F49F1F;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
    }
    .box-static {
        height: 100%;
        width: 40px;
        background: #F49F1F;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        .icon {
            font-size: 16px;
            color: #fff;
            width: 20px;
            word-break: break-word;
            margin: 0 auto;
            line-height: 1.2;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    .box-active {
        display: none;
        height: 100%;
        width: 110px;
        background: #fff;
        color: #F49F1F;
        border: 1px solid #F49F1F;
        padding-bottom: 10px;
        text-align: center;
        font-size: 14px;
        p {
            margin: 0;
        }
        .hot-title {
            font-size: 16px;
            font-weight: bold;
            margin-top: 20px;
        }
        .time {
            font-size: 12px;
        }
        .tel {
            font-weight: bold;
            font-size: 12px;
            margin: 10px 0;
        }
        .service-qq {
            width: 90px;
            margin: 0 auto;
            background: #F49F1F;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            line-height: 22px;
            a {
                text-decoration: none;
                color: #fff;
                .icon {
                    height: 30px;
                    padding: 7px 0;
                }
            }
        }
        .service-hotel {
            margin-top: 9px
        }
    }
    .show{
        display: block!important;
    }
    .hide{
        display: none!important;
    }
}
