#ui-wrap{
  .ui-main.ui-fixed-footer{
    position: static;
    margin:68px auto auto;
    min-height: 100%;
  }
  .ui-hotel-main{
    padding-bottom:0;
    min-height: 100%;
  }
  .ui-hotel-content .ui-hotel-empty{
    padding : 235px 0;
  }
  .ui-footer{
    position : static;
  }
  .ui-order-user .ui-user-list dl dd code.hack-code-display{
    left: 30px;
    top: 9px;
  }
}
