
    .ui-msg-wrap.resetPwd {
        width: 610px !important;
        .msg-content {
            dl{
                margin-bottom: 10px !important;
                dt{
                    width: 35%;
                    i{
                        font-style: normal;
                        margin-left: 3px;
                    }
                }
                dd{
                    width: 53%;
                    input{
                        padding: 8px;
                    }
                }
            }

        }
        .ant-modal-title{
            font-size: 20px;
        }
        .ant-modal-close-x{
            font-size: 30px;
        }
    }
