//reset daterangepicker
$border-color : #9EA5AA;
.daterangepicker{
  background: #fff;
  .daterangepicker_input{
    display: none;
  }
  .table-condensed{
    thead tr:nth-of-type(2){
      background: #F5F7F9;
      th{
        border-radius: 0;
        border : 0;
      }
    }
    tbody{
      td{
        border : 0px !important;
      }
      td.disabled, option.disabled{
        color: #999;
        cursor: not-allowed;
        text-decoration: none;
      }
      td.start-date,td.end-date{
        border-radius: 100%;
      }
      td.active,td.active:hover{
        background-color: #F49F1F;
        border-color: transparent;
        color: #fff;
      }
      td.in-range.end-date{
        background-color: #F49F1F;
        border-color: transparent;
        color: #fff;
      }
      td.in-range{
        background: #fff;
        position: relative;
      }
      td.in-range.start-date:after,td.in-range.end-date:after{
        display: none;
      }
      td.in-range:after{
        content: '';
        position: absolute;
        left : 0;
        top : 5px;
        height :20px;
        width : 100%;
        background: rgba(244, 159, 30, 0.20);
      }
    }

  }

}


.y-left {
  overflow: hidden !important;
  .form-origin{
    .J-toHide{
      display: none;
      text-align: center;
      position: relative;
      cursor: pointer;
      i{
        border: 3px solid transparent;
        border-bottom: 5px solid #797979;
        height: 5px;
        display: inline-block;
        margin-left: 5px;
        position: relative;
        top: -4px;
      }
    }
  }
  .form-sel{
    display: none;
    .J-city-des{
      font-size: 14px;
      color: #0E1A27;
      letter-spacing: 0.63px;
      i{
        margin-right : 15px;
      }
    }
    .J-time-des{
      font-size: 14px;
      color: #0E1A27;
      letter-spacing: 0.63px;
    }
    .J-toShow{
      text-align: center;
      position: relative;
      cursor: pointer;
      i{
        border: 3px solid transparent;
        border-top: 5px solid #797979;
        height : 5px;
        display: inline-block;
        margin-left : 5px;
        //right: 10px;
        //top: 65%;
      }
    }
  }
  .left-main{
    display: none;
    position: relative;
    .main-title{
      border-top:1px solid $border-color;
      border-bottom:1px solid $border-color;
      color: #0E1A27;
      letter-spacing: 0.63px;
      padding : 10px 27px;
      margin : 0 -27px;
      overflow: hidden;
      span{
        width : 50%;
        float : left;
        text-align: left;
      }
      span:last-of-type{
        text-align: right;
        font-size: 12px;
        color: #006CE1;
        letter-spacing: 0.54px;
        text-decoration: underline;
        position: relative;
        top:8px;
      }
      i{
        font-family: Arial-BoldMT;
        font-style: normal;
        font-size: 18px;
        color: #F49F1F;
        letter-spacing: 0.81px;
      }
    }

    .main-center{
      position: absolute;
      top : 47px;
      bottom : 55px;
      left : 0;
      right : 0;


      .cen-left{
        width : 85px;
        overflow-y: auto;
        padding-top : 20px;
        position: absolute;
        top : 0;
        left : -20px;
        bottom : 50px;
        padding-left : 15px;

        .cen-tag.active{
          background: #F49F1F;

          color : #FFF;
        }
        .cen-tag.com {
          background : rgba(17,186,202,0.2);
          color : rgba(17,186,202,1);
        }

        .cen-tag{
          width : 50px ;
          height : 50px;
          background: #DDDEDF;
          font-family: Arial-BoldMT;
          font-size: 20px;
          color: #575F68 ;
          letter-spacing: 0.9px;
          border-radius: 50px;
          text-align: center;
          line-height : 50px;
          margin-bottom : 20px;
          cursor: pointer;
        }


      }
      .cen-left-bottom{
        font-size: 12px;
        color: #fff;
        letter-spacing: 0.54px;
        position: absolute;
        bottom: 0;
        left: -26px;
        width: 110px;
        right: 0;
        height: 50px;
        border-top: 1px solid $border-color;
        padding: 8px;
        &>.btn{
          background: #F49F1F;
          border: 1px solid #F49F1F;
          border-radius: 4px;
          height : 30px;
        }


      }
      .cen-right{
        position: absolute;
        left : 0;
        right : 0;
        top : 0;
        bottom : 0;
        margin-left : 85px;
        overflow-y: auto;
        .cen-inner{
          .cen-title{
            color : #0E1A27;
            margin-bottom : 10px;
            &>p{
              font-size: 12px;
              color: #6E767D;
              letter-spacing: 0.54px;
            }
            *{margin-bottom : 5px;}
          }
          .cen-form{
            label{
              font-size: 12px;
              color: #3E4852;
              letter-spacing: 0.54px;
            }

            .ul-list{
              position: absolute;
              width: 100%;
              background: #fff;
              z-index: 1;
              box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
              display: none;
              li{
                padding:8px 13px;
                font-size: 14px;
                color: #0E1A27;
                letter-spacing: 0px;
                cursor: pointer;
              }
              li:hover{
                background: #F5F7F9;
              }
            }
          }
          .cen-des{
            font-size: 12px;
            color: #3E4852;
            letter-spacing: 0.54px;
            line-height: 18px;
            *{margin-bottom:0px;}
          }
          .cen-rout-wrap{
            border : 1px solid $border-color;
            border-radius: 4px;
            padding : 8px 10px;
            margin-bottom : 10px;
            *{margin : 0;}
          }
        }
      }
    }
    .main-bottom{
      padding-top : 10px;
      margin : 0 -27px;
      position: absolute;
      bottom : 0px;
      left : 0;
      right : 0;
      height : 55px;
      border-top : 1px solid $border-color;
      button{
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.81px;
        display : block;
        width : 100%;
        background: #F49F1F;
        border-radius: 4px;
        box-shadow: 0 5px 10px rgba(244,159,31,0.3);
      }
    }

  }
}

.y-right {
  .d-right-top {
    padding: 0;
    height : 50px;
    border-bottom : 1px solid #9EA5AA;
    .d-banner-title {
      float: left;
      font-size: 16px;
      color: #0E1A27;
      letter-spacing: 0px;
      margin : 0;
      span{
        font-size: 16px;
        color: #FA573D;
        letter-spacing: 0px;
      }
    }
    .d-banner-nav {
      float: right;
      line-height: 16px;
      position: relative;
      top: 5px;
      height: 45px;
      ul{
        height : 45px;

      }
      li {
        float: left;
        width: 100px;
        font-size: 14px;
        color: #0E1A27;
        letter-spacing: 0px;
        height : 45px;
        cursor: pointer;

        p{
          border-right: #9EA5AA 1px solid;
        }
      }
      li:last-of-type {
        p{
          border-right: 0;
        }
      }
      li.active{
        color: #F49F1F;
        position: relative;

      }
      li.active:after{
        content: ' ';
        background: #F49F1F;
        position : absolute;
        left : 0;
        right : 0;
        bottom : 0;
        width : 100px;
        height : 3px;
      }
    }
  }
}