.ui-middle-side{
  .mid-order-type,.daily-type,.daily-time{
    margin : 15px 0;
    clear : both;
  }
  .mid-time-des{
    font-size: 16px;
    letter-spacing: 5px;
    padding : 10px 0;
    i{
      font-style: normal;
      font-size : 12px;
      font-family: ArialMT;
      letter-spacing: .54px;
      margin-left : 15px;
    }
  }
  .mid-main-wrap{
    lable{
      font-size: 12px;
      color: #3E4852;
      letter-spacing: 0.54px;
      width : 70px;
    }

    .daily-type-sel{
      background: #FFFFFF;
      border: 1px solid #DDDEDF;
      border-radius: 4px;
      position: relative;

      .anticon .anticon-caret-down{
        position: absolute;
        right: 10px;
        top: 10px;
      }
      .route-res{
        color : #6E767D
      }
    }
    .daily-type-item{
      padding : 10px 10px 10px 30px;
      position: relative;
      cursor: pointer;
      p.daily-type-title{
        font-size: 14px;
        line-height: 24px;
      }
      p.daily-type-sub{
        font-size: 12px;
        color: #6E767D;
        line-height: 22px;
      }
      &.active{
        background: #F5F7F9;
        &:before{
          position : absolute;
          left : 9px;
          top : 50%;
          font-size : 14px;
          display: block;
          font-family: "anticon" !important;
          content: "\E632";
          display: inline-block;
          font-style: normal;
          vertical-align: baseline;
          text-align: center;
          text-transform: none;
          line-height: 1;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translateY(-50%);
        }
      }
      span.reselect-city{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        color: #006CE1;
        letter-spacing: 0px;
        line-height: 24px;
        text-decoration: underline;
      }
    }
    .daily-other-city{
      padding : 10px;
      position: relative;
      i.anticon.anticon-caret-down {
        position: absolute;
        right: 20px;
        color: #797979;
        top: 50%;
        transform: translateY(-50%);
      }
      .J-city-wrap{
        position: relative;
        width : 100%;
      }
    }

    .flight-main-wrap{
      .flight-btn-item{
        text-align: center;
        border: 1px solid #F49F1F;
        border-radius: 4px;
        font-size: 14px;
        color: #F49F1F;
        letter-spacing: 0px;
        padding : 5px;
        cursor: pointer;
        &:first-of-type{
          margin-right : 20px;
        }
      }
      .flight-res{
        position: relative;
        border: 1px solid #F49F1F;
        border-radius: 4px;
        font-size: 14px;
        padding: 5px;
        padding : 10px;
        font-size: 14px;
        letter-spacing: 0.63px;

        span.flight-tag{
          text-align: center;
          background: rgba(243, 159, 30, 0.1);
          border-radius: 50%;
          font-size: 12px;
          color: #E28800;
          letter-spacing: 0.54px;
          width: 4em;
          padding: 3px 5px;
          margin-bottom : 5px;
        }
        .flight-wr{
          p.place-des{
            color: #6e767d;
            font-size: 12px;
            word-break: break-all;
          }
        }
        .flight-dis{
          margin-top : 10px;
        }
      }
    }
  }
  .mid-btn-wrap.disabled{
    border: 1px solid #DDDEDF;
    color : #DDDEDF;
  }
  .mid-btn-wrap{
    border: 1px solid #F49F1F;
    border-radius: 4px;
    width : 160px;
    height : 34px;
    color: #F49F1F;
    line-height: 34px;
    text-align: center;
    float : right;
    margin-top : 40px;
    cursor: pointer;
    &>span{
      font-size: 14px;
      letter-spacing: 0px;
    }
  }
  .daily-mian-wrap{
    .daily-city{
      .input-contain{
        position: relative;
        height : 34px;
        &:after{
          clear : both;
          content : '';
        }
        &>label{
          width : 70px;
          float : left;
          display: block;
          line-height : 34px;
        }
        &>i{
          display: none;
        }
        &>input{
          width: 273px;
          float : left;
        }
        div.J-city-wrap{
          top : 34px;
          left : 70px;
        }
      }
    }
  }
}
