.ant-calendar-range .ant-calendar-month-panel-table, 
.ant-calendar-range .ant-calendar-year-panel-table {
	height: 168px;
}
.ant-calendar-picker{
	width: 280px;
	position: relative;

	&:after{
		content:'';
		position: absolute;
		right:10px;
		top:50%;
		width: 0;
		margin-top: -2px;
		height: 0;
	    border: 4px solid #fff;
    	border-top-color: transparent;
    	background: #6E767D;
		background-size: 100% auto;
		z-index: -1;
	}
	.ant-input{
		background:transparent;
	}
	.ant-calendar-picker-input{
		height:36px;
	}
	.ant-calendar-range-picker-input{
		width: 110px;
		border:none;
		box-shadow: none;
		padding:0;
		cursor: pointer;
	}
	.ant-calendar-range-picker-separator{
		font-size: 14px;
		font-weight: normal;
		text-decoration: none;
	}
}
.ant-calendar-picker-container{
	top:36px!important;
	left:0!important;
}
.ant-calendar-range .ant-calendar-input-wrap{
	display: none;
}
.ant-calendar-table thead{
	background: #F5F7F9;
}
.ant-calendar-disabled-cell .ant-calendar-date{
	background: none;
	color: rgba(0, 0, 0, 0.1);

}
.ant-calendar-today{
	.ant-calendar-date{
		width: 20px!important;
		height:20px;
		border-radius: 2px!important;
	}
}

.ant-calendar-start-day{
	.ant-calendar-date{
		position: relative;
		&:hover{
			border:1px solid #F49F1F;
		}
		&:before{
			content: '入住';
			color:#F49F1E ;
			left:50%;
			margin-left: -15px;
			top:-25px;
			position: absolute;
			width: 30px;
			height:24px;
			text-align: center;
			line-height: 20px;
			font-size: 12px;
			background: url('../images/icon-signup.png') no-repeat 50% 50%;
			background-size: 100% auto;
			z-index: 900;

		}

	}
}
.ant-calendar-end-day{
	.ant-calendar-date{
		position: relative;
		&:hover{
			border:1px solid #F49F1F;
		}
		&:after{
			content: '离店';
			color:#F49F1E ;
			left:50%;
			margin-left: -15px;
			top:19px;
			position: absolute;
			width: 30px;
			height:23px;
			text-align: center;
			line-height: 28px;
			font-size: 12px;
			background: url('../images/icon-sign.png') no-repeat 50% 50%;
			background-size: 100% auto;
			z-index: 1000;

		}

	}
}
.date-without-tip {
    .ant-calendar-date {
        &:after,&:before {
            content: '';
            width: 0;
            height: 0;
            background: none;
        }
    }
}

