#ui-wrap{
  div.ui-header{
    z-index : 1000;
  }
  .ui-main.ui-fixed-footer{
    position: static;
    margin: 88px auto auto;
    min-height: 100%;
    padding: inherit;
  }
  .ui-hotel-main{
    padding-bottom:0;
    min-height: 100%;
  }
  .ui-hotel-content .ui-hotel-empty{
    padding : 235px 0;
  }
  .ui-footer{
    position : static;
  }
}
