#ui-wrap{
  .ui-main.ui-fixed-footer{
    position: static;
    margin: 68px auto auto;
  }
  .ui-list-main{
    padding-bottom:0;
  }
  .ui-hotel-content .ui-hotel-empty{
    padding : 235px 0;
  }
  .ui-footer{
    position : static;
  }
}
