.search-bar {
    max-width: 100%;
    min-height: 86px;
    position: relative; //background-color:pink;
    padding-top: 21px;
    form {
        > .ant-calendar-picker {
            margin-right: 10px;
            vertical-align: middle;
        }
        > * {
            margin-bottom: 10px;
        }
        >input,
        >div,
        >button,
        > label {
            display: inline-block;
            vertical-align: middle;
        }
    }
    
    input,
    textarea,
    select {
        color: #0E1A27;
        &::-webkit-input-placeholder {
            color: #6E767D;
        }
        &::-moz-placeholder {
            color: #6E767D;
        }
        &::-ms-input-placeholder {
            color: #6E767D;
        }
    }

    .ant-select-selection:hover {
      border-color: #F49F1F;
    }
    .ant-select-focused .ant-select-selection,
    .ant-select-selection:focus,
    .ant-select-selection:active {
      border-color: #F49F1F;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(244,159,31, 0.2);
    }
    .ant-calendar-start-day {
        .ant-calendar-date {
            &:before {
                content: '开始';
            }
        }
    }

    .ant-calendar-end-day {
        .ant-calendar-date {
            &:after {
                content: '结束';
            }
        }
    }
    .order-no {
        display: inline-block;
        padding-left: 11px;
        margin-right: 10px;
        width: 210px;
        height: 36px;
        background: #FFFFFF;
        border: 1px solid #DDDEDF;
        border-radius: 4px;
        font-size: 12px;
    }
    .order-no:hover,
    .order-no:focus {
        border-color: #F49F1F!important; //box-shadow:0 5px 5px rgba(244,159,31,0.5);
    }
    .sousuo,
    .reset {
        margin-right: 10px;
        display: inline-block;
        width: 100px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        letter-spacing: 0;
        border: 1px solid #F49F1F;
        border-radius: 4px;
    }
    .sousuo {
        background-color: #F49F1F;
        font-size: 16px;
        color: #FFFFFF;
        box-shadow: 0px 5px 10px rgba(244, 159, 31, 0.5);
    }
    .reset {
        font-size: 14px;
        color: #F49F1F;
    }
}


.search-bar {
    button {
        &[disabled] {
            border: 1px solid #ccc;
            color: #ccc;
            background: #eee;
            box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5);
        }
    }
    .ant-select {
        width: 100px;
        margin-right: 10px;
        .ant-select-selection--single {
            height: 36px;
        }
        .ant-select-selection__rendered {
            line-height: 34px;
        }
        .ant-select-selection-selected-value {}
        .ant-select-arrow:before {
            content: '\E606';
        }
    }
}