.list-table {
    .tip {
        font-size: 12px;
    }
    .order-status {
        margin-left: 20px;
        color: #F49F1F;
    }
    .price {
        color: #FA573D;
    }
    .list-head {
        background: #F5F7F9;
        text-align: center;
        height: 40px;
        border: 1px solid #D3DDE6;
        border-bottom: 0;
        .check-date {
            padding: 0;
            span {
                display: block;
            }
        }
        > div {
            padding: 5px 0;
        }
    }
    .non-orders {
        padding: 50px 0;
        text-align: center;
    }
    .ant-spin {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        color: #6D767C;
        .ant-spin-dot {
            display: inline-block;
            i {
                background-color: #6D767C;
            }
        }
        .ant-spin-text {
            display: inline-block;
            margin-left: 40px;
            font-size: 14px;
        }
    }
    .list-body {
        // margin-bottom: 14px;
        .list-item {
            border: 1px solid #D3DDE6;
            border-top: 0;
            // border-radius: 4px;
            background: transparent;
            text-align: center;
            a {
                display: inline-block;
                line-height: 1.2em;
                text-decoration: underline;
                color: #006CE1;
                &.pay-btn {
                    width: 60px;
                    padding: 5px 0;
                    margin: 0 auto 5px;
                    text-decoration: none;
                    border-color: #F49F1F;
                    border-radius: 4px;
                    color: #fff;
                    background: #F49F1F;
                }
            }
            .order-head,
            .order-foot {
                padding: 0 18px;
                line-height: 40px;
                background: #F5F7F9;
                text-align: left;
            }
            .order-head {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            .order-foot {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
            .hotel-name {
                text-align: left;
            }
            .contact  {
                word-break: break-all;
            }
            .btns {
                padding: 0;
            }
            .price,
            .order-time {
                text-align: right;
            }
            .check-date,
            .guest-name {
                word-break: break-all;
                span {
                    display: block;
                    line-height: 1.2em;
                }
            }
        }

        .list-main {
            min-height: 50px;
            background: #fff;
            display: table;
            width: 100%;
            > div + div{
                position: relative;
                word-wrap: break-word;
                word-break: break-all;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    // margin-top: -25px;
                    min-height: 50px;
                    border-left: 1px solid #D3DDE6;
                }
                span{
                    padding: 0 5px;
                    text-decoration: underline;
                    color: #006CE1;
                    cursor: pointer;
                }
            }
            div[class*='ant-col-'] {
                float: none;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .ant-pagination {
            margin-top: 14px;
            text-align: center;
            li {
                vertical-align: middle;
                border-color: #F5F7F9;
                background: #F5F7F9;
                a {
                    font-size: 14px;
                    color: #0E1A27;
                }
            }
            .ant-pagination-item-active {
                border-color: #F49F1F;
                background: #F49F1F;
                a {
                    color: #fff;
                }
            }
            .ant-pagination-prev,
            .ant-pagination-next {
                vertical-align: middle;
                a:before,
                a:after {
                    font-size: 24px;
                }
            }
            .ant-pagination-disabled {
                a {
                    color: #eee;
                }
            }
            .ant-pagination-options {
                vertical-align: middle;
            }
        }
    }
}
