.ui-left-side{
  border-right : 1px solid rgba(151,151,151,.19);
  .input-contain{
    margin-bottom : 10px;
    position : relative;
    font-size: 12px;

     label{
        color: #3E4852;

     }
     input{
      color: #0E1A27;
     }
     #J-SearchCity{
      padding-left: 7px;
     }
     .ant-input{
      padding: 4px 0px;
     }
  }
  .ui-left-bottom{
    .plan-title{
      p{
        font-size: 14px;
        color: #0E1A27;

        span{
          color: #F49F1F;

          line-height: 19px;
        }
      }
    }
  }

  span.ant-calendar-picker{
    span.ant-calendar-picker-input.ant-input{
      border: 1px solid #DDDEDF;
      border-radius: 4px;
      height : 34px;
      input:first-of-type{
        height : 24px;
        line-height: 24px;
        text-align: left;
        padding-left: 8px;
      }
    }
  }
  i.anticon.anticon-caret-down{
    position: absolute;
    right: 12px;
    top: 37px;
    color : #797979;
  }
  .split-line{
    opacity: 0.19;
    border-bottom: 1px solid #979797;
    margin : 0 -18px;
  }
  .ant-calendar-picker{
    width: 100%;
    .ant-calendar-range-picker-input{
      width: 80px;
    }
    .ant-calendar-picker-icon{
      display: none;
    }
  }
  .ant-calendar-picker:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    width: 0;
    margin-top: -2px;
    height: 0;
    border: 4px solid #fff;
    border-top-color: transparent;
    background: #6E767D;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    z-index: 1;
}
.ant-calendar-start-day{
	.ant-calendar-date{
		position: relative;
		&:hover{
			border:1px solid #F49F1F;
		}
		&:before{
			content: '开始';
			color:#F49F1E ;
			left:50%;
			margin-left: -15px;
			top:-25px;
			position: absolute;
			width: 30px;
			height:24px;
			text-align: center;
			line-height: 20px;
			font-size: 12px;
			background: url('../images/icon-signup.png') no-repeat 50% 50%;
			background-size: 100% auto;
			z-index: 900;

		}

	}
}
.ant-calendar-end-day{
	.ant-calendar-date{
		position: relative;
		&:hover{
			border:1px solid #F49F1F;
		}
		&:after{
			content: '结束';
			color:#F49F1E ;
			left:50%;
			margin-left: -15px;
			top:19px;
			position: absolute;
			width: 30px;
			height:23px;
			text-align: center;
			line-height: 28px;
			font-size: 12px;
			background: url('../images/icon-sign.png') no-repeat 50% 50%;
			background-size: 100% auto;
			z-index: 1000;

		}

	}
}

  .J-InputDown{
    position: absolute;
    right: 10px;
    top: 43px;
    width: 0;
    margin-top: -2px;
    height: 0;
    border: 4px solid #fff;
    border-top-color: transparent;
    background: #6E767D;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    z-index: 1;
  }
}
