.writePlane{
  width: 830px !important;
  font-size: 14px;
  position:relative;
  .blank {
    width: 100%;
    height: 50px;
  }
  .ant-tabs-bar {
    padding: 16px 33px 16px;
    border-bottom: 1px solid #F5F7F9;
    .ant-tabs-nav:before{
      border-right: none 0;
    }
    .ant-tabs-tab {
      width: 138px;
      height: 40px;
      line-height: 38px;
      padding: 0;
      margin: 0 auto;
      text-align: center;
      border: 1px solid #DDDEDF;
      border-radius: 4px;
      & + .ant-tabs-tab {
        margin-left: 20px;
      }
    }
  .ant-tabs-nav-container {
    height: 40px;
    .ant-tabs-nav-scroll{
      margin-top: 0;
    }

    .ant-tabs-tab-active  {
      color: #f49f1f;
      border: 1px solid #f49f1f;
      border-radius: 4px;
    }
    .ant-tabs-ink-bar,
    .ant-tabs-ink-bar-animated {
      background-color: transparent;
    }
  }
}
  

  .cont-inner{
    max-height:400px;
    overflow: auto;
  }
  .ant-modal-title{
    font-size: 20px;
    color: #0E1A27;
  }
  .ant-modal-body{
    padding:0;
  }
  &.ant-modal .ant-modal-footer{
    text-align: right;
    padding-right:61px;
  }
  .ant-checkbox-inner{
    width: 20px;
    height: 20px;
  }
  .ant-calendar-input-wrap{
    display:none;
  }

  .ant-checkbox-wrapper{
    position:absolute;
    left:134px;
    bottom:50px;
  }
  input,textarea{
    padding: 4px 7px;
    border: 1px solid #DDDEDF;
    border-radius: 4px;
    font-size: 12px;
    resize: none;
    &:hover,&:focus{
      border-color: rgba(243, 159, 30, 0.5) !important;
      outline: 0;
      box-shadow:
              inset
              0 1px 1px rgba(0, 0, 0, 0.075),
              0 0 8px rgba(243, 159, 30, 0.5);
    }
  }
  .ui-input {
    width: 250px;
    border-radius: 4px;
    input{
      width: 250px;
      line-height: 34px;
      height: 34px;
    }
    span {
      z-index: 1;
      &.show {
        line-height: 1.8em;
        top: 35px;
      }
    }
  }
  .ant-calendar-start-day .ant-calendar-date:before{
    content:'';
    background:transparent;
  }
  .ant-calendar-end-day .ant-calendar-date:after{
    content:'';
    background:transparent;
  }
  .ant-input{
    color:#0E1A27;
  }
  .content {
    .cont-inner {
      width: 770px;
      margin: 0 auto;
      margin-top: 20px;
      line-height: 36px;
      .leixing-tips{
        margin-top:5px;
        height:34px;
        span{
          display:inline-block;
          width: 250px;
          height: 34px;
          font-size: 12px;
          color: #6D767C;
          letter-spacing: 0;
          line-height: 17px;
          margin-left: 105px;
        }
      }
      .form-row {
        margin-bottom: 15px;
        position: relative;
        .row-name {
          font-size:14px;
          display: inline-block;
          color: #0E1A27;
          width: 105px;
          text-align: right;
          padding-right: 19px;
          left: 0;
          line-height: 36px;
          vertical-align: top;
          position: relative;
          .red-xing {
            position: absolute;
            right: 10px;
            color: #FA573D;
          }
        }
        .left, .right {
          display: inline-block;
          width: 50%;
          height:34px;
          position: relative;
          .tips {
            padding-left: 9px;
            font-size: 12px;
            color: #6D767C;
          }
          .input-box {
            position: absolute;
            display: inline-block;
            width: 250px;
            .name-input {
              display: inline-block;
              width: 120px;
              margin-left: 10px;
              .ui-input{
                width: 120px;
              }
              input {
                width: 120px;
              }
            }
            .xing {
              margin-left: 0;
            }
            &.mobile {
              .ui-areacode{
                .ui-input, 
                .ui-input input {
                  width: 100px;
                } 
              }
              
              > .ui-input {
                display: inline-block;
                width: 140px;
                margin-left: 10px;
                input {
                  width: 140px;
                }
              }
            }
          }
          .sex-select {
            display: inline-block;
            width: 100px;
          }
          .zheng-jian {
            display: inline-block;
            width: 250px;
            input:focus,
            input:hover {
              outline: none;
              box-shadow: none;
            }
          }
          .ri-qi {
            input {
              width: 250px;
              &::placeholder{
                color:#0E1A27;
              }
            }
            .ant-calendar-picker-icon:after {
              content: '\E606';
              font-size: 12px;
              color:#797979;
              transform: scale(.75) rotate(0deg);
            }
          }
        }
        .liu-yan {
          display: inline-block;
          height: 100px;
          .ui-mark textarea {
            width: 635px;
          }
        }
      }
    }
  }
  .ant-calendar-picker {
    border: 0;
    width: 250px;
  }
}