.kai-piao {
    width: 100%;
    height: 36px;
    line-height: 36px;
    .money {
        display: inline-block;
        padding-left: 9px;
        height: 36px;
        line-heigth: 36px;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #0E1A27;
        letter-spacing: 0;
        span {
            margin-right: 40px;
            display: inline-block;
            font-family: MicrosoftYaHei-Bold;
            color: #FA573D;
            line-height: 19px;
        }
    }
    .kai-piao-btn {
        display: inline-block;
        width: 100px;
        height: 36px;
        text-align: center;
        line-heigth: 36px;
        background: #10BAC8;
        border-radius: 4px;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        cursor: pointer;
    }
}

.page-box {
    margin-top: 30px;
    text-align: center;
    >div {
        margin: auto;
    }
}

.list-table {
    width: 100%;
    margin-top: 20.6px;

    .list-head {
        background: #F5F7F9;
        text-align: center;
        min-height: 40px;
        border: 1px solid #D3DDE6;
        border-bottom: 0;
        text-align: center;
        font-size: 12px;
        .ant-checkbox-wrapper{
            margin-bottom: 0;
        }
        >div {
            font-size: 12px;
            padding: 5px 0;
        }
    }

    .list-item {
        border: 1px solid #D3DDE6;
        border-top: 0;
        background: transparent;
        text-align: center;
        .jin-e {
            font-family: Arial-BoldMT;
            font-size: 14px;
            color: #0E1A27;
            letter-spacing: 0;
            line-height: 51px;
        }
        .order-no {
            text-align: left;
        }
    }

    .list-main {
        font-size: 12px;
        min-height: 50px;
        background: #fff;
        display: table;
        width: 100%;
        >div {
            padding: 0 5px;
        }
        >div+div {
            position: relative;
            word-wrap: break-word;
            word-break: break-all;
            &:before {
                content: '';
                position: absolute;
                // top: 50%;
                top:0;
                left: 0;
                // margin-top: -25px;
                min-height: 50px;
                height: 100%;
                border-left: 1px solid #D3DDE6;
            }
            span {
                padding: 0 5px;
                text-decoration: underline;
                color: #006CE1;
                cursor: pointer;
            }
        }
        div[class*='ant-col-'] {
            float: none;
            display: table-cell;
            vertical-align: middle;

            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            // height: 50px;
            // line-height: 50px;
        }
    }
    .none-result {
        color: #6E767D;
        font-size: 14px;
        border-top: 1px solid #D3DDE6;
    }
}

.ant-checkbox-wrapper {
    width: 100%;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0px;
    .ant-checkbox {
        margin-left: -30px;
        vertical-align: middle;
        + span {
            display: inline-block;
            vertical-align: middle;
            word-wrap: break-word;
            word-break: break-all;
            margin-right: -20px;
            padding-right: 0;
        }
    }
}
