.c-list-search{
	font-size: 14px;
	input{
		font-size: 14px;
	}
	.ui-input{
		box-sizing: border-box;
		margin-bottom: 0;
	}
	.ui-select{
		display: inline-block;
		display: inline-flex;
		margin-right: 10px;
		.ui-input{
			width: 180px;
			background: #fff;
		}
		.ui-select-wraps{
			top:37px;
		}
	}
	.ui-keywords{
		display: inline-block;
		display: inline-flex;
		margin-right: 10px;
		.ui-input{
			width: 300px;
			padding: 7px 15px;
			background: #FFFFFF;
			border: 1px solid #DDDEDF;
			border-radius: 4px;
			input{

			}
		}
	}
	.ui-submit{
		display: inline-block;
		display: inline-flex;
		margin-top: 0;
		width: 110px;
		button{
			border:none;
			background: #F49F1F;
			border-radius: 4px;
			font-size: 14px;
			color: #FFFFFF;
			box-shadow: none;
		}
	}
}