div.ui-header{
  height: 68px;
  width: 100%;
  min-width: 1280px;
  position: fixed;
  font-family: "Microsoft YaHei";
  box-shadow: 0 1px 2px #cfcfcf;
  background: #fff;
  z-index : 100;

  .ui-logo-wrap{
    width: 120px;
    height: 30px;
    position: absolute;
    top :15px;
    left:30px;
    a{
      display: block;
    }
    .ui-logo{
      width: 120px;
      height:36px;
      background-size: 100% auto;
    }
  }

  .ui-nav-wrap{
    height: 100%;
    margin-left: 190px;
  }
}
