.ui-submit{
	width: 100%;
	text-align: center;
	margin-top: 30px;
	.submit,button{
		display: inline-block;
		width: 100%;
		font-size: 18px;
		color: #FFFFFF;
		background: #DDDEDF;
		border-radius: 4px;
		padding:7px 20px;
		font-weight: 100;
		box-shadow: 0 5px 1px rgba(0,0,0,0.15);
		opacity : 1;
		outline: none;
		cursor: pointer;
		
	}
	.active{
		background: #F49F1F;
	}
	.loading{
		opacity : 0.5;
		 padding-right: 30px;
		&:before{
			font-size: 14px;
			margin-right:5px;
			display: inline-block;
			animation: loadingCircle 1s infinite linear;
			content: "\E64D";
			font-family: anticon!important;
		}
	}

}

@keyframes loadingCircle {
    0% {
        transform-origin: 50% 50%;
        transform: rotate(0deg)
    }

    to {
        transform-origin: 50% 50%;
        transform: rotate(1turn)
    }
}