.city-group{
	position: relative;
	.showView{
		display: block;
	}
	input{
		cursor: pointer;
	}
	.city-group-view-main{
		font-size: 12px;
		padding: 10px;
		padding-right: 0;
		a{
			float:left;
			width: 97px;
			color:#6E767D;
			margin-right: 10px;
			margin-top:10px;
			&:hover{
				color:#0E1A27;
			}
		}
		.select{
			font-weight: bold;
			color:#0E1A27;
		}
	}
	.empty{
		width: 100%;
		text-align: center;
		color:#6e767d;
	}
}
.city-group-search{
	position: absolute;
	display: none;
	top:36px;
	left:0;
	background: #FFFFFF;
	width: 465px;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.16);
	min-height: 56px;
	z-index: 56;
	.loading{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 20px;
		height:20px;
		margin-left:-10px;
		margin-top:-10px;
		display: inline-block;
		text-align: center;
	}
	.city-group-view-main{
		p{
			line-height: 36px;
		}
		a{
			width: 100%;
			&:first-child{
				margin-top: 0;
			}
		}
	}
}
.city-group-view{
	position: absolute;
	display: none;
	top:36px;
	left:0;
	background: #FFFFFF;
	width: 465px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
	padding: 10px;
	z-index: 50;
	ul{
		border-bottom: 1px solid #9EA5AA;
		font-size: 14px;
		li{
			position: relative;
			color:#6E767D;
			float:left;
			display: inline;
			font-weight: 200;
			text-align: center;
			padding:5px 20px 10px 20px;
			z-index: 99;
			cursor: pointer;
			&:after{
				position: absolute;
				content: '';
				width: 100%;
				left: 0;
				bottom: -1px;
				z-index: 100;
			}

		}
		.active{
			color:#0E1A27;
			font-weight: bold;
			&:after{
				border-bottom: 2px solid #F49F1F;
			}
		}
	}
	.city-group-view-main{
		div{
			display: none;
		}
		.show{
			display: block;
		}
	}
}
