.ui-left-side{

  .ui-left-bottom{
    position: absolute;
    bottom: 0px;
    top: 178px;
    left: 18px;
    right: 0;

    .plan-title{
      //letter-spacing: 0.63px;
        font-size: 14px;
        color: #0E1A27;

      span{
        font-family: Arial-BoldMT;
        font-size: 18px;
        color: #F49F1F;
        //letter-spacing: 0.93px;
        margin: 0 8px;

        line-height: 19px;
      }
    }

    .plan-list{
      position: absolute;
      top : 35px;
      bottom : 50px;
      left : 0;
      right : 0;
      overflow-y: auto;


      .plan-item{
        height : 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left : 10px;
        .plan-day-icon{
          background: #DDDEDF;
          width : 32px;
          height : 32px;
          line-height: 32px;
          font-family: ArialMT;
          font-size: 14px;
          // color: #555F69;
          color: #6E767D;
          // letter-spacing: 0.63px;
          text-align: center;
          border-radius: 32px;
          display: inline-block;
        }
        .plan-dis{
          flex : 1;
          display: flex;
          align-items: flex-start;;
          flex-direction: column;
          justify-content: center;
          margin-left : 10px;
          .plan-dis-title{
           // letter-spacing: 0.63px;
              font-family: ArialMT;
              font-size: 14px;

              color: #6E767D;


          }
          .plan-dis-subtitle{
                font-size: 12px;
                color: #6E767D;
          }
        }
      }

      .plan-item.plan-item-active{
        background: #F5F7F9;
        position : relative;
        border-top : 1px solid rgba(151, 151, 151, 0.19);
        border-bottom : 1px solid rgba(151, 151, 151, 0.19);
        cursor: pointer;
        &:before{
          content : '';
          position: absolute;
          left : 0;
          top : 0;
          bottom : 0;
          width : 3px;
          background: #F49F1F;
        }
        .plan-day-icon{
          color: #FFFFFF;
          background : #F49F1F;
        }
        .plan-dis{
          .plan-dis-title{
            color: #0E1A27;
          }
          .plan-dis-sub{
            font-size: 12px;
            color: #6E767D;
            // letter-spacing: 0.54px;
          }
        }
      }

      .plan-item.plan-item-complete{
        cursor: pointer;
        .plan-day-icon{
          color: #FFFFFF;
          background: #11BACA;
        }
      }
    }

    .plan-operate{
      position : absolute;
      bottom : 0;
      left : 0;
      right : 0;
      height : 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: #F49F1F;
      // letter-spacing: 0.63px;
      border-top: 1px dotted rgba(151,151,151,.19);
      // padding-bottom:20px;
      .anticon.anticon-plus-circle-o,.anticon.anticon-minus-circle-o{
        margin-right : 5px;
        width:17px;
        height:21px;
        font-size: 16px;
        // letter-spacing: 0.73px;

      }
      div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex : 1;
        text-align: center;
        cursor: pointer;
      }
      div.disabled{
        color: #E9EAEA !important;
      }
      div:first-of-type{
        border-right: 1px dotted rgba(151,151,151,.19);
      }
    }
  }
}
