.ui-hour-picker{
	.hour-picker-split{
		padding:0 5px;
	}
	.ant-calendar-start-day,.ant-calendar-end-day{
		.ant-calendar-date{
			&:after,&:before{
				display: none;
			}
		}
	}
	.ant-calendar-picker,.ui-hour{
		width: 120px;
	}
	.ant-calendar-picker-icon{
		display: none;
	}
	.ant-calendar-next-year-btn,.ant-calendar-prev-year-btn,.ant-calendar-input-wrap{
		display: none;
	}
	.ant-calendar-prev-month-btn{
		left :10px;
	}
	.ant-calendar-next-month-btn{
		right :10px;
	}
}