.bookPop{
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    background: transparent;
    z-index: 999;
    .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
    }
    .bookWrap{
		position: fixed;
        top: 80px;
        left: 50%;
        bottom: 100px;
        width: 830px;
        height: 600px;
        // padding: 30px 0;
        margin-left: -415px;
        border-radius: 4px;
        font-size: 14px;
        color: #0E1A27;
        background: #fff;
		input,textarea{
			padding: 4px 7px;
		    border: 1px solid #DDDEDF;
		    border-radius: 4px;
		    font-size: 12px;
		    resize: none;
		    &:hover,&:focus{
		    	border-color: rgba(243, 159, 30, 0.5) !important;
    	        outline: 0;
    	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(243, 159, 30, 0.5);
		    }
		}
		.ant-select-selection--single{
			//height: 40px;
			//width: 110px;
			height: 34px;
		}
		.ant-select-selection__rendered{
			//line-height: 40px;
			//width: 110px;
			line-height: 34px;
			color: #0e1a27;
		}
		.ant-select-open .ant-select-selection{
			border-color: rgba(243, 159, 30, 0.5) !important;
	        outline: 0;
	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(243, 159, 30, 0.5);
		}
		.ant-select-selection:hover, .ant-select-selection:focus{
		    border-color: rgba(243, 159, 30, 0.5) !important;
		    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(243, 159, 30, 0.5);
		}
        .ui-input {
        	width: 280px;
        	input{
        		width: 280px;
        		//height: 40px;
        		//line-height: 40px;
				height: 34px;
				line-height: 34px;
        	}
            span {
                z-index: 1;
            }
        }
        .head {
            font-size: 22px;
            padding: 20px 0;
            border-bottom: 1px solid #F5F7F9;
            text-align: center;
            letter-spacing: 1px;
            .close {
                position: absolute;
                top: 23px;
                right: 30px;
                font-size: 28px;
                cursor: pointer;
            }
        }
        .cont {
            position: absolute;
            top: 75px;
            right: 30px;
            bottom: 0;
            left: 30px;
            overflow: auto;
			margin-bottom: 90px;
            .cont-inner{
				width: 500px;
				//margin: 20px auto;
				margin:0 auto;
				margin-top:20px;
				line-height: 36px;

				//padding-bottom:56px;
				//position:relative;
				.form-row{
					margin-bottom: 20px;
					font-size: 14px;
					position: relative;
					padding-left: 130px;
					> label:first-of-type{
						font-size: 14px;
						color: #0E1A27;
						width: 110px;
						text-align: right;
						position: absolute;
						left: 0;
						line-height: 36px;
					}
					.bookItem{
						width: 280px;
					}
					.tishi{
						font-family: MicrosoftYaHei;
						font-size: 12px;
						color: #F49F1F;
						line-height: 22px;
						width: 290px;
						padding:10px;
						position:relative;
						&:before{
							content:'*';
							position:absolute;
							left:0;
							top:10px;
						}
					}
					//修改～
					.textareabox{
						width: 280px;
						height: 80px;
						textarea{
							height: 80px;
						}
					}

				}
				.type-tips{
					font-size: 14px;
				    color: #F49F1F;
				    letter-spacing: 0.63px;
				    line-height: 30px;
				}
				.priceSellBox{
					//text-align: center;
					.ui-input{
				    	width: 160px;
				    	display: inline-block;
				    	margin-right: 10px;
				    	input{
				    		width: 160px;
							height: 34px;
				    	}
				    }

					.ant-select-selection--single{
						width: 110px;
					}
				}
				//.btn-box{
				//	//position:absolute;
				//	//bottom:0;
				//	text-align: center;
				//    margin-top: 20px;
				//	button{
				//		display: inline-block;
				//		padding: 6px 12px;
				//		margin-bottom: 0;
				//	    user-select: none;
				//        cursor: pointer;
				//        width: 100px;
				//        height: 36px;
				//        border: 1px solid #F49F1F;
				//        letter-spacing: 0.72px;
				//        font-size: 16px;
			     //       border-radius: 2px;
			     //       line-height: 1.5;
				//	}
				//	.cancel{
				//		background: #FFFFFF;
				//		color: #F49F1F;
				//		margin-right: 10px;
				//	}
				//	.save{
				//		background: #F49F1F;
				//		color: #FFFFFF;
				//	}
				//}
            }
        }


		.btn-box{
			//position:absolute;
			//bottom:0;
			text-align: center;
			margin-top: 420px;
			button{
				display: inline-block;
				padding: 6px 12px;
				margin-bottom: 0;
				user-select: none;
				cursor: pointer;
				width: 100px;
				height: 36px;
				border: 1px solid #F49F1F;
				letter-spacing: 0.72px;
				font-size: 16px;
				border-radius: 2px;
				line-height: 1.5;
			}
			.cancel{
				background: #FFFFFF;
				color: #F49F1F;
				margin-right: 10px;
			}
			.save{
				background: #F49F1F;
				color: #FFFFFF;
			}
		}


        .ui-upload{
        	line-height: 1.5;
        	width: 500px;
        	height: 80px;
        	.btns-wrap{
        		margin-top: 0;
        	}
        }
    }
}
