.ui-sorter-nav .ui-sorter-desc{
	code {
	    position: relative;
	    padding-right: 20px;
	    margin-right: 20px;
	    cursor: pointer;
	    user-select: none;
	    &:before {
	        position: absolute;
	        right: 0;
	        top: 50%;
	        margin-top: -6px;
	    }
	    &.active {
	        color: #F49F1F;
	    }
	}
}