.ui-main{
  height:auto!important;
}
.ui-order-list {
  box-sizing: border-box;
  padding: 20px 20px 20px 250px !important;
  height: 100%;
  overflow: auto;
  font-size: 14px;
  .list-cont {
    box-sizing: border-box;
    width: 100%;
    padding: 34px 40px;
    border-radius: 4px;
    background: #fff;
  }
  h2 {
    line-height: 32px;
    font-size: 24px;
    font-weight: normal;
  }
}

#ui-wrap{
  .ui-main{
    width : 100% !important;
    min-width : 100% !important;
  }
  .ui-main.ui-fixed-footer{
    position: static;
    margin-top : 68px;
    min-height: 100%;
  }
  .ui-hotel-main{
    padding-bottom:0;
    min-height: 100%;
  }
  .ui-hotel-content .ui-hotel-empty{
    padding : 235px 0;
  }
  .ui-footer{
    position : static;
  }
}

