.clearfix:after /*清除浮动*/
{
	content: '';
	display: block;
	clear: both;
}

a{
	text-decoration: none;
}
h3{
	font-size: 24px;
}

 p
{
	font-size: 18px;
	letter-spacing: 1px;
	font-family: "微软雅黑";
}
nav
{
	background: #323232;
	height: 55px;
	font-family: "微软雅黑";
	/*position: fixed;
	width: 100%;*/
	z-index: 100;
}
ul
{
	margin: 0;
}
.main-wrapper
{
	min-width: 1280px;
}
nav ul 
{
	list-style: none;
	margin: 0;
	float: right;
}
nav ul li, nav .logo 
{
	display: inline-block;
	line-height: 50px;
	margin: 0px 20px;
}
nav ul li a:link,a:visited
{
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #FCFCFC;
}
.logo
{
	float: left;
	font-size: 20px;
	font-weight: 550;
	letter-spacing: 1px;
}
.logo a:link,a:visited
{
	color:  #FCFCFC;
	text-decoration: none;
}
.logo a:hover,a:active,nav ul li a:hover,a:active
{ 
    color: #A8A8A8;
}

#banner
{
	background: #F2F2F2;
	height: 700px;
	padding: 10px;
}

#banner .inner
{
	max-width: 400px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 60px;
}
#banner .inner img
{
	border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid #ccc;
    margin-bottom: 15px;
}
#banner .inner h1
{
	margin: 0;
	color: #636363;
}

button
{
	background: #333;
	border: none;
	color: #eee;
}
#banner button
{
	background: #009ACD;
	margin-top: 10px;
}
#banner button a{
	display: block;
    height: 40px;
    width: 80px;
    line-height: 40px;
    color:  #FCFCFC;
}
#banner button:hover{
	opacity: 0.8;
}

.sub-heading
{
	margin-top: 20px;
	line-height: 20px;
	color: #636363;
	font-size: 18px;
}
.sub-mail{
	font-size: 16px;
	color: #797878;
}
.sub-mail:hover{
	color: #69BFE8;
}
.wrapper
{	max-width: 1080px;
	margin: 0 auto;
}
/*关于我部分*/
.about{
	background: #D8E4E8;
	height: 700px;
	overflow: hidden;
}
.wrap-title{
	text-align: center;
	color: #3C4945;
	margin-top: 90px;
}
.wrapper .hr1{
	width: 32px;
	height: 2px;
	background-color: #708E85;
	transition: all 0.5s ease;
	margin: -15px auto;
}
.wrapper:hover .hr1{
	width: 150px;
}
.about-content{
	margin-top: 100px;
	text-align: center;
	color: #3C4945;
	font-family: "微软雅黑";
}
.about-content-me{
	margin: 60px auto;
	width: 500px;
	text-align: left;
	line-height: 30px;
	
}
/*技能展示部分*/
.skill{
	background-color: #B5D6E2;
	height: 700px;
	overflow: hidden;
	text-align: center;
}
.skill-content{
	margin-top: 100px;
}
.skill-show .show-part{
	display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #39ADB2;
    color: #fff;
    transform: rotate(45deg);
    margin: 20px;
}
.skill-show :hover.show-part {
	transition: all 0.8s ease;
	transform: rotate(405deg);
}

.skill-show .show-part div{
	position: relative;
	top: 28px;
	transform: rotate(-45deg);
	font-weight: bold;
}

.skill-text{
	margin-top: 70px;

}
.skill-text p{
	font-size: 16px;
	opacity: 0.9;
}
.wrapper .sub-heading
{
	color: #2E6765;
}
.hr
{
	width: 100%;
	height: 1px;
	margin: 20px auto;
}
/*demo部分*/
.demo
{
	overflow: hidden;
	background: #93BFCA;
	color:#fff;
	height: 700px;
}
.demo-text{
	margin:20px auto;
	color: #D8D5D5;
	text-align: center;
}
.demo-text a{
	font-weight: bold;
	color: #E5E6E6;
}
.card-group{
	margin-top: 50px;
	margin-bottom: 70px;
}
.card
{
	float: left;
	width: 25%;
	height: 200px;
	padding: 0 30px 20px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*border: 1px solid white;*/
	text-align: center;
	
}
.card p{
	margin-top: 80px;
	border: 1px solid #ccc;
	font-size: 16px;
}
.card p a{
	color: #fff;
}
.card p a:hover{
	color: #D8D3D3;
}
.card:first-child/*背景颜色渐变*/
{
	background: rgba(128,128,128,0.06);
}
.card:nth-child(2)
{
	background: rgba(128,128,128,0.08);
}
.card:nth-child(3)
{
	background: rgba(128,128,128,0.12);
}
.card:nth-child(4)
{
	background: rgba(128,128,128,0.16);
}
.card:hover{
	background: rgba(128,128,128,0.2);
}
footer
{
	background-color: #32353e;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	padding: 15px;
}
ul.share-group
{
	display: block;
	margin: 0 auto;
}
.share-group li
{
	display: inline-block;
	padding: 10px;
}
.share-group li:hover{
	opacity: 0.6;
}
.coppy p
{
	padding: 10px;
	font-size: 13px;
	text-indent: 40px;
}
