.ui-score{
	display: inline-block;
	width: 100%;
	.ui-score-main{
		display: inline-block;
		text-align: left;
		width: auto;
		height:18px;
		background: url('../images/icon-score1.png') repeat-x 0 50%;
	}
	.ui-score-view{
		margin-left: 10px;
		font-size: 14px;
		color: #0E1A27;
		em{
			font-size: 20px;
			color: #F49F1F;
		}
	}
	s{
		display: inline-block;
		height: 100%;
		width: 0px;
		background: url('../images/icon-score.png') repeat-x 0 50%;
	}
}