html,body{
	height: 100%;
}
.clearfix:after
{
	content: '';
	display: block;
	clear: both;
}
/*this is the index.html*/
.wrapper{
	font-family: "PingFang SC";
	width: 7.5rem;
	height: 100%;
}
.topbar{
	width: 100%;
	height: 0.9rem;
	background: #000;
	color: #fff;
	font-size: 0;
	text-align: center;
	position: relative;
	div{
		display: inline-block;
	}
	.back{
		width: 0.18rem;
		height: 0.31rem;
		background: url('images/back.png')no-repeat center;
		background-size: cover;
		position: absolute;
		top: 50%;
	    left: 0.3rem;
	    margin-top: -0.15rem;
	}
	.top-title{
		font-size: 0.34rem;
    	font-weight: bold;
		line-height: 0.9rem;
	}
	.right-btn{
		font-size: 0.3rem;
		color: #fff;
		height: 0.9rem;
		position: absolute;
		right: 0.2rem;
	}
	.history{
		width: 0.5rem;
		height: 0.5rem;
		background: url('images/history.png')no-repeat center;
		background-size: cover;
		position: absolute;
		right: 0.3rem;
		top: 50%;
		margin-top: -0.25rem;
	}
}
.detail{
	height: 2.4rem;
	width: 100%;
    margin-top: -1px;
    background: black;
	display: box;
	display: -moz-box; 
    display: -webkit-box;
    .detail-item{
    	width: 50%;
    	height: 100%;
	    color: #fff;
	    text-align: center;
	    display: table;
    }
    .inner{
    	display: table-cell;
	    vertical-align: middle;
	    .inner-num{
	    	font-size: 0.6rem;
	    	font-weight: bold;
	    	span{
	    		font-size: 0.28rem;
	    	}
	    }
	    .inner-info{
			font-size: 0.3rem;
			color: #cecece;
			span{
				display: inline-block;
				height: 0.26rem;
				width: 0.26rem;
				background: url('images/que.png')no-repeat center;
				background-size: cover;
			}
	    }
    }
}
.main-wrapper{
	width: 7.1rem;
	margin: 0 auto;
	position: relative;
}
.order{
	margin-top: 0.36rem;
	.order-title{
		font-size: 0.26rem;
		color: #adadad;
		margin-bottom: 0.15rem;
	    margin-left: 0.2rem;
	}
	.order-wrap{
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
	    display: -ms-flexbox;
		display: flex;
		-moz-justify-content: space-between;
	    -webkit-justify-content: space-between;
	    justify-content: space-between;
        flex-direction: row;
	    -webkit-box-pack: justify;
        -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
        padding: 0 0.4rem;
		.order-item{
			text-align: center;
			width: 1.15rem;
			border-bottom: 2px solid #ffcf00;
			position: relative;
			span{
				display: block;
				width: 1rem;
			    height: 0.8rem;
			    margin: 0.1rem auto;
			}
			.air{
				background: url('images/jsj.png')no-repeat center;
				background-size: cover;
			}
			.once{
				background: url('images/dc.png')no-repeat center;
				background-size: cover;
			}
			.daily{
				background: url('images/bc.png')no-repeat center;
				background-size: cover;
			}
			.define{
				background: url('images/zdy.png')no-repeat center;
				background-size: cover;
			}
			.new{
				width: 0.44rem;
				height: 0.2rem;
				background: url('images/new.png')no-repeat center;
				background-size: cover;
				position: absolute;
				top: 0.1rem;
				left: 0;
			}
			p{
				font-size: 0.28rem;
				font-weight: bold;
				color: #111111;
				.icon{
					display: inline-block;
					font-style: normal;
					height: 0.22rem;
					width: 0.22rem;
					background: url('images/que.png')no-repeat center;
					background-size: cover;
					position: absolute;
				    right: -0.25rem;
				    bottom: 0.1rem;
				}
			}
		}
	}
}
.res-wrap{
	margin-top: 0.76rem;
	.res-list{
		border-bottom: 1px solid #e8e8e8;
		margin-top: 0.6rem;
		&:last-child{
			border-bottom: none;
		}
		a{
			display: block;
			overflow: hidden;
			.img-wrap{
				width: 2.75rem;
				height: 1.78rem;
				background: url('images/res.png')no-repeat center;
				background-size: cover;
				position: absolute;
				top: 0;
				left: 0;
			}
			.cont-wrap{
				height: 1.78rem;
				margin-left: 3.05rem;
				font-weight: bold;
				position: relative;
				.list-title{
					font-size: 0.28rem;
					color: #000;
				}
				.list-price{
					font-size: 0.34rem;
					color: #111111;
				    position: absolute;
				    bottom: 0;
				    left: 0;
					span{
						font-size: 0.26rem;
					}
				}
			}
			.opt-title{
				font-size: 0.24rem;
				color: #adadad;
				margin-top: 0.26rem;
				margin-bottom: 0.56rem;
				p{
					display: inline-block;
				}
				span{
					display: inline-block;
					width: 0.8rem;
					height: 0.35rem;
					line-height: 0.35rem;
					border-radius: 0.05rem;
					color: #fff;
					margin-right: 0.16rem;
				    box-sizing: content-box;
				    padding: 0 0.1rem;
				    text-align: center;
				    white-space: nowrap;
				}
				.type-z{
					background: #7ec15f;
				}
				.type-s{
					background: #ef984b;
				}
			}
		}
	}
}
.bottom{
	margin: 0.04rem 0.72rem 0.6rem;
	text-align: center;
	position: relative;
	.line{
		border-bottom: 1px solid #cecece;
		width: 1.1rem;
		position: absolute;
		top: 0.3rem;
		&:first-child{
			left: 0;
		}
		&:last-child{
			right: 0;
		}
	}
	p{
		font-size: 0.26rem;
		color: #cecece;
	}
}
/* this is the index popup*/
.popup-wrapper{
	display: none;
	position: fixed;
	top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 50%;
    z-index: 100;
    .popup-inner{
		width: 5.4rem;
		height: 3rem;
		margin: 0 auto;
		padding-top: 0.4rem;
		padding-bottom: 0.65rem;
		background: #fff;
		border-radius: 0.1rem;
		position: relative;
		.btn-close{
			width: 0.4rem;
		    height: 0.62rem;
		    background: url(images/close.png) no-repeat center;
		    background-size: cover;
		    position: absolute;
		    right: 0;
		    top: -0.6rem;
		}
		.title-wrap{
			width: 3.36rem;
			height: 0.56rem;
			line-height: 0.56rem;
			margin: 0 auto;
			margin-bottom: 0.5rem;
			color: #fff;
			text-align: center;
			font-size: 0.3rem;
			background: url(images/bg.png) no-repeat center;
		    background-size: cover;
		}
		.inner-text{
			font-size: 0.26rem;
			color: #727272;
		    padding: 0 0.34rem;
			span{
				color: #111;
				font-weight: bold;
			}
		}
    }
}

/*this is the detail.html*/
.detail-con{
	.user{
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
	    display: -ms-flexbox;
		display: flex;
		-moz-justify-content: space-between;
	    -webkit-justify-content: space-between;
	    justify-content: space-between;
		padding: 0.25rem 0;
		font-family: "PingFang SC Medium";
		border-bottom: 1px solid #e4e4e4;
		font-size: 0.3rem;
		color: #111111;
		.con-l > p.in-type, .con-l > p.time{
			font-size: 0.24rem;
			color: #adadad;
		}
		.con-l > p.time{
			font-family: "PingFang SC";
		}
	}
}
/*this is the detail_no.html*/
.detail-inner{
	text-align: center;
	margin:0 auto;
	margin-top: 2.16rem;
	color: #adadad;
	.imgbox{
		display: inline-block;
		width: 1.15rem;
		height: 1.45rem;
		background: url('images/no.png')no-repeat center;
		background-size: cover;
	}
	h2{
		font-size: 0.46rem;
		margin-bottom: 0.2rem;
	}
	p{	
		font-family: "PingFang SC Medium";
		font-size: 0.36rem;
		span{
			display: inline-block;
			width: 0.36rem;
			height: 0.36rem;
			background: url('images/sad.png')no-repeat center;
			background-size: cover;
			vertical-align: middle;
		}
	}
}
/*this is the transfer.html*/
input{
	&::-webkit-input-placeholder{
			color: #cecece;
	}
	&::-moz-placeholder{
			color: #cecece;
	}
	&::-ms-input-placeholder{
			color: #cecece;
	}
}
.topbar > .top-tab{
	width: 4.2rem;
	height: 0.58rem;
	border: 2px solid #fff;
	color: #fff;
	background: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    margin-top: -0.29rem;
    left: 50%;
    margin-left: -2.1rem;
    border-radius: 0.1rem;
    overflow: hidden;
.tab-item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    line-height: 0.5rem;
    text-align: center;
    font-size: 0.28rem;
    cursor: pointer;
    }
    .current{
    	color: #111;
    	background: #fff;
    }
}
.main-content{
	height: 100%;
	width: 100%;
	background-color: #f4f4f4;
	padding-top: 0.4rem;
	.form-wrap{
		margin: 0 0.3rem 0.9rem 0.3rem;
		border: 1px solid #e0e0e0;
		background-color: #fff;
		border-radius: 0.1rem;
		.form-item{
			height: 1rem;
			line-height: 1rem;
			border-bottom: 1px solid #e0e0e0;
			padding-left: 0.4rem;
			position: relative;
			&:last-child{
				border-bottom: none;
			}
			.label, input{
				display: block;
			}
			.label{
				font-size: 0.32rem;
				color: #111;
				font-weight: bold;
			}
			.content{
				font-size: 0.3rem;
				color: #727272;
				font-family: "PingFang SC Medium";
				height: 100%;
			    position: absolute;
			    top: 0;
			    right: 0.75rem;
			    text-align: right;
			   
			}
			.arrow-r{
				display: inline-block;
				font-style: normal;
				width: 0.16rem;
				height: 0.28rem;
				background: url('images/arrow_r.png')center no-repeat;
			    background-size: cover;
			    position: absolute;
			    right: 0.3rem;
			    top: 50%;
			    margin-top: -0.14rem;
			}
		}
	}
	.serach-btn{
		display: block;
		width: 6.9rem;
		height: 0.8rem;
		margin: 0 auto;
		color: #fff;
		background: #ffcf03;
		font-size: 0.32rem;
		font-weight: bold;
		border-radius: 0.05rem;
	}
	.btn-disabled{
		background: #e0e0e0;
		color: #cecece;
	}
	.daily-wrap{
		@extend .form-wrap;
		margin-bottom: 0.2rem;
		.check-box{
			height: 0.95rem;
			font-size: 0.3rem;
			font-weight: bold;
			display: -webkit-box;
		    display: -webkit-flex;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: flex;
		    border-bottom: 1px solid #e0e0e0;
		    span{
		    	display: block;
		    	-webkit-box-flex: 1;
			    -webkit-flex: 1;
			    -moz-box-flex: 1;
			    -ms-flex: 1;
			    flex: 1;
				line-height: 0.95rem;
				text-align: center;
				color: #adadad;
				&.current{
					color: #111;
					border-bottom: 2px solid #111;
				}
		    }
		}
		.date-box{
			height: 1.4rem;
			line-height: 1.4rem;
			border-bottom: none;
			input.start{
				height: 50%;
				top: 10%;
			}
			input.end{
				height: 50%;
				top: 40%;
			}
			.total{
				font-size: 0.24rem;
				font-family: "PingFang SC Medium";
				color: #adadad;
				line-height: 0.8rem;
				position: absolute;
				top: 36%;
				right: 2.15rem;
				display: none;
			}
		}
	}
}
/*this is the define.html*/
.define-cont{
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    .form-row{
    	border-top: 1px solid #e0e0e0;
    	border-bottom: 1px solid #e0e0e0;
    	margin-bottom: 0.2rem;
    	background: #fff;
    	&:last-child{
    		margin-bottom: 0;
    	}
    	h2{
    		font-size: 0.32rem;
    		color: #111;
    		border-left: 0.06rem solid #ffcf03;
    		margin-top: 0.3rem;
    		padding-left: 0.1rem;
    		margin-left: 0.3rem;
    	}
    	.order-type{
    		// display: -webkit-box;
		    // display: -webkit-flex;
		    // display: -moz-box;
		    // display: -ms-flexbox;
		    // display: flex;
		    // -moz-justify-content: space-between;
		    // -webkit-justify-content: space-between;
		    // justify-content: space-between;
		    margin: 0.3rem;
		    span{
		    	display: inline-block;
		    	height: 0.6rem;
		    	line-height: 0.55rem;
		    	border: 2px solid #e0e0e0;
		    	padding: 0 0.36rem;
		    	color: #adadad;
		    	font-size: 0.28rem;
		    	border-radius: 0.4rem;
		    	float: left;
			    margin-right: 0.2rem;
			    &:last-child{
			    	margin-right: 0;
			    }
		    	&.current{
		    		background: #ffcf03;
		    		color: #fff;
		    		border: none;
		    		line-height: 0.6rem;
		    	}
		    	&.disabled{
		    		background: #e0e0e0;
		    	}
		    }
    	}
    	.row-item{
    		height: 1rem;
    		line-height: 1rem;
    		padding-left: 0.3rem;
	    	padding-right: 0.3rem;
	    	position: relative;
    		border-bottom: 1px solid #e0e0e0;
    		display: -webkit-box;
		    display: -webkit-flex;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: flex;
		    -moz-justify-content: space-between;
		    -webkit-justify-content: space-between;
		    justify-content: space-between;
		    flex-direction: row;
		    -webkit-box-pack: justify;
	        -webkit-box-orient: horizontal;
		    -webkit-box-direction: normal;
    		&:last-child{
    			border-bottom: none;
    		}
    		span{
    			font-size: 0.28rem;
    			color: #727272;
    			white-space: nowrap;
    			&.area-code{
				    position: absolute;
				    right: 2.6rem;
				    border-right: 1px solid #ccc;
				    height: 0.3rem;
				    line-height: 0.3rem;
				    top: 0.35rem;
				    padding-right: 0.2rem;
				    color: #cecece;
    			}
    			&.yuan{
    				position: absolute;
				    right: 0.3rem;
				    border-left: 1px solid #ccc;
				    height: 0.3rem;
				    line-height: 0.3rem;
				    top: 0.35rem;
				    padding-left: 0.2rem;
    			}
    			&.income{
				    height: 0.75rem;
				    border-bottom: 2px solid #ffcf03;
    			}
    			&.price{
    				color: #ffcf03;
    			}
    		}
    		input{
    			font-family: "PingFang SC Medium";
    			font-size: 0.28rem;
    			color: #727272;
    			text-align: right;
    			width: 5rem;
    			&.time{
    				padding-right: 0.35rem;
    			}
    			&.contact{
    				width: 2.3rem;
    			}
    		}
    		.arrow-r{
    			    display: inline-block;
				    font-style: normal;
				    width: 0.16rem;
				    height: 0.28rem;
				    background: url("images/arrow_r.png") center no-repeat;
				    background-size: cover;
				    position: absolute;
				    right: 0.3rem;
				    top: 50%;
				    margin-top: -0.14rem;
    		}
    	}
    	.c-height{
			height: 1.25rem;
			span{
				line-height: 1.25rem;
			}
			
		}
    	.message{
    		height: 0.6rem;
    		line-height: 0.6rem;
		    background-color: #f4f4f4;
    		color: #adadad;
    		font-family: "PingFang SC Medium";
			font-size: 0.22rem;
    		border-bottom: 1px solid #e0e0e0;
			span{
				display: inline-block;
				width: 0.22rem;
				height: 0.22rem;
				background: url("images/tips.png")no-repeat center;
				background-size: cover;
				margin-left: 0.3rem;
				margin-right: 0.1rem;
			}
    	}
    }
}
.form-row{
	.row-bottom{
		height: 1.2rem;
		background-color: #fff;
		position: relative;
		.price-box{
			padding-left: 0.3rem;
		    height: 1.2rem;
		    display: table;
			span:first-child{
				font-size: 0.28rem;
				color: #adacac;
			    display: table-cell;
			    vertical-align: middle;
			    padding-right: 0.3rem;
			}
			span:last-child{
				font-size: 0.44rem;
				color: #111;
				font-weight: bold;
			    display: table-cell;
			    vertical-align: middle;
				i{
					font-style: normal;
					font-size: 0.3rem;
				}
			}
		}
		button{
			height: 0.8rem;
			padding: 0 0.3rem;
			background: #e0e0e0;
			font-size: 0.32rem;
			color: #cecece;
			border-radius: 0.1rem;
			position: absolute;
		    right: 0.3rem;
		    top: 0.2rem;
		    &.active{
		    	color: #fff;
		    	background: #ffcf03;
		    }
		}
	}
}
/*this is the confirm.html*/

	.list-wrap{
		padding: 0.3rem;
		margin-bottom: 0.2rem;
		position: relative;
		font-family: "PingFang SC Thin";
		background: #fff;
		border-bottom: 1px solid #e0e0e0;

		.type-box{
			position: absolute;
			left: 0.3rem;
			top: 0.37rem;
			.type-s{
				display: block;
				width: 0.85rem;
				height: 0.4rem;
				line-height: 0.4rem;
				text-align: center;
				font-size: 0.24rem;
				color: #fff;
				background: #44d435;
				border-radius: 0.05rem;
				white-space: nowrap;
			}
		}
		.res-title{
			margin-left: 1rem;
			p{
				font-size: 0.32rem;
				color: #333;
			    line-height: 0.48rem;
			}
		}
		.order-detail{
			font-size: 0.26rem;
			color: #999999;
			margin-top: 0.2rem;
			span:first-child{
				margin-right: 0.6rem;
			}
		}
	}
.main-content{
	.date-chose{
		    height: 1rem;
		    padding-left: 0.3rem;
		    padding-right: 0.3rem;
		    position: relative;
		    border-bottom: 1px solid #e0e0e0;
		    background: #fff;
		    margin-bottom: 1.15rem;
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: flex;
		    -moz-justify-content: space-between;
		    -webkit-justify-content: space-between;
		    justify-content: space-between;
		    span{
		    	font-size: 0.32rem;
		    	color: #333333;
		    	line-height: 1rem;
		    }
		    input{
	    	    font-family: "PingFang SC Medium";
			    font-size: 0.3rem;
			    color: #727272;
			    text-align: right;
		    }
	}
}
/*this is the chosecar.html*/
.form-row{
	.car-wrap{
		display: flex;
		justify-content: space-between;
		padding: 0.3rem 0;
		.car-item{
		    font-family: "PingFang SC Medium";
		    text-align: center;
			.img-wrap{
				width: 2.72rem;
				height: 0.88rem;
				margin: 0 auto;
				background: url('images/car_5.png')no-repeat center;
				background-size: cover;
			}
			.small{
				width: 1.3rem;
				height: 0.5rem;
			}
			.car-type{
				font-size: 0.28rem;
				color: #111;
				margin: 0.15rem 0;
			}
			.car-detail{
				font-size: 0.26rem;
				color: #adadad;
			}
		}
		.minor{
			align-self: center;
		}
	}
	.item-s{
		height: 1.25rem;
		position: relative;
		border-bottom: 1px solid #e0e0e0;
		.title{
				line-height: 1.25rem;
			    font-size: 0.28rem;
				color: #727272;
				white-space: nowrap;
				float: left;
				margin-left: 0.3rem;
			}
		.btn{
			float: right;
		    height: 0.35rem;
		    line-height: 0.35rem;
		    font-size: 0.22rem;
		    color: #cecece;
		    border: 1px solid #cecece;
		    padding: 0 0.15rem;
		    margin-right: 0.3rem;
		    position: relative;
		    top: 0.45rem;
		}
		.active{
			color: #ffcf03;
			border: 1px solid #ffcf03;
		}
		.delete{
			font-style: normal;
			display: none;
			width: 0.32rem;
			height: 0.3rem;
			background: url("images/delete.png")no-repeat center;
			background-size: cover;
			float: right;
			margin-right: 0.3rem;
			position: relative;
		    top: 0.45rem;
		}
		input{
			float: right;
			margin-right: 0.2rem;
			font-family: "PingFang SC Medium";
		    font-size: 0.28rem;
			color: #727272;
			text-align: right;
			height: 100%;
		}
	}
}
.popup-wrapper{
	.popup-cont{
		height: 3.3rem;
		width: 5.4rem;
		background: #fff;
		text-align: center;
		border-radius: 0.3rem;
		margin: 0 auto;
		.cont-text{
			font-family: "PingFang SC Medium";
		    font-size: 0.32rem;
		    padding-top: 1.15rem;
		    padding-bottom: 0.85rem;
		    span{
		    	color: #ffcf03;
		    }
		}
		.cont-btn{
			display: flex;
			border-top: 1px solid #cecece;
		    height: 0.98rem;
			button{
				flex: 1;
				color: #1b1812;
				font-size: 0.3rem;
				&.btn-hr{
					border-right: 1px solid #cecece;
				}
			}
		}
	}
}
/*this is the chosecar.html*/
.order-cont{
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    .order-info{
    	padding: 0.4rem 0.3rem;
    	background: #fff;
    	border-bottom: 1px solid #e0e0e0;
		margin-bottom: 0.2rem;
    	h2{
    		font-size: 0.32rem;
    		color: #111;
    		font-weight: bold;
    	}
    	.list-wrap{
    		padding: 0;
    		margin-bottom: 0;
    		border-bottom: 0;
    		.type-box{
    			left: 0;
    			top: 0.1rem;
    		}
    	}
    	.info-item{
    		margin-top: 0.35rem;
    		font-size: 0.3rem;
    		font-family: "PingFang SC Medium";
    		color: #727272;
		    line-height: 1.5;
    		i{
    			display: inline-block;
				width: 0.3rem;
				height: 0.3rem;
				margin-right: 0.3rem;
				vertical-align: middle;
    		}
    		.icon-time{
				background: url("images/icon-time.png")no-repeat center;
				background-size: contain;
    		}
    		.icon-start{
    			background: url("images/icon-start.png")no-repeat center;
    			background-size: contain;
    		}
    		.icon-end{
    			background: url("images/icon-end.png")no-repeat center;
    			background-size: contain;
    		}
    		.icon-car-type{
    			background: url("images/icon-car-type.png")no-repeat center;
    			background-size: contain;
    		}
    		.icon-dis{
    			background: url("images/icon-dis.png")no-repeat center;
    			background-size: contain;
    		}
    		.icon-range{
    			background: url("images/icon-range.png")no-repeat center;
    			background-size: contain;
    		}
    		small{
    			font-family: "PingFang SC";
    			font-size: 0.26rem;
    			color: #adadad;
    			padding-left: 0.7rem;
    			display: inherit;
    		}
    	}
    	.order-number{
    		height: 0.6rem;
    		line-height: 0.6rem;
    		font-family: "PingFang SC Medium";
    		font-size: 0.24rem;
    		color: #737373;
    		border-top: 1px solid #e0e0e0;
    		margin: 0 -0.3rem;
		    margin-top: 0.35rem;
    		padding-left: 0.3rem;
    	}
    	.trip-detail{
    		background-color: #fffde0;
    		border-top: 1px dotted #f4e28e;
    		border-bottom: 1px dotted #f4e28e;
    		margin-top: 0.35rem;
    		padding-bottom: 0.7rem;
    		position: relative;
    		// ul{
    		// 	padding-left: 0.6rem;
    		// 	padding-bottom: 0.5rem;
    		// 	li{
    		// 		list-style-type: disc;
    		// 		font-size: 0.26rem;
    		// 		color: #333333;
    		// 		margin: 0.3rem 0;
    		// 	}
    		// }
    		.days-wrap{
    			overflow: hidden;
    			.day-wrap{
    			position: relative;
    			padding: 0.2rem 0.6rem;
    			&:before{
    				content: '';
				    position: absolute;
				    top: -0.3rem;
				    left: 0.34rem;
				    height: 0.6rem;
				    width: 1px;
				    background: #3c3830;
				    z-index: 1;
    			}
    			&:last-of-type:after{ 		
					content: '';
					position: absolute;
					left: 0.32rem;
					top: 0.4rem;
					height: 0.5rem;
					background-color: #fffde0;
					width: 3px;
					z-index: 2;
				}
				&:first-of-type:after{
					content: '';
					position: absolute;
					left: 0.32rem;
					top: -0.1rem;
					height: 0.4rem;
					background-color: #fffde0;
					width: 3px;
					z-index: 2;
				}
    			.meta-tag{
					position: absolute;
					left: 0.25rem;
					top: 0.3rem;
					background-color: #3c3830;
					border: 1px solid #fffde0;
					width: 0.2rem;
					height: 0.2rem;
					border-radius: 50%;
					z-index: 3;
    			}
				p{
					font-size: 0.26rem;
    				color: #333333;
				}
    		}
    		}
    		
    		.trip-detail-ctrl{
    			position: absolute;
    			left: 50%;
    			bottom: 0.3rem;
    			transform: translateX(-50%);
    			text-align: center;
    			font-size: 0.24rem;
    			color: #333;
    			font-family: "PingFang SC Thin";
    			i{
    				display: inline-block;
				    width: 0.24rem;
				    height: 0.13rem;
				    background: url("images/arrow_b.png")no-repeat center;
				    background-size: cover;
    			}
    		}
    	}
    }
    .form-row{
	    border-top: 1px solid #e0e0e0;
	    border-bottom: 1px solid #e0e0e0;
	    background: #fff;
	    .row-item{
    	    height: 1rem;
		   	line-height: 1rem;
		    padding-left: 0.3rem;
		    padding-right: 0.3rem;
		    position: relative;
		    border-bottom: 1px solid #e0e0e0;
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: flex;
		    -moz-justify-content: space-between;
		    -webkit-justify-content: space-between;
		    justify-content: space-between;
	        flex-direction: row;
		    -webkit-box-pack: justify;
	        -webkit-box-orient: horizontal;
		    -webkit-box-direction: normal;
		    span{
		    	flex: 1;
		    	font-size: 0.32rem;
		    	font-weight: bold;
		    	color: #111;
		    	white-space: nowrap;
		    	&.aaaaa{
		    		flex: 1;
		    	}
		    	/*/*&.area-code {
				    position: absolute;
				    right: 2.5rem;
				    border-right: 1px solid #ccc;
				    height: 0.3rem;
				    line-height: 0.3rem;
				    top: 0.34rem;
				    padding-right: 0.2rem;
				    font-family: "PingFang SC Medium";
				    font-size: 0.3rem;
				    font-weight: normal;
				    color: #cecece;
				}*/
				&.filled{
					color: #727272;
				}
		    }

		    input{
		    	font-family: "PingFang SC Medium";
		    	font-size: 0.3rem;
		    	color: #727272;
		    	text-align: right;
		    	width: 5rem;
		    	&.contact{
		    		width: 2.3rem;
		    	}
		    }
		    .arrow-r{
				display: inline-block;
				font-style: normal;
				width: 0.16rem;
				height: 0.28rem;
				background: url('images/arrow_r.png')center no-repeat;
			    background-size: cover;
			    position: absolute;
			    right: 0.3rem;
			    top: 50%;
			    margin-top: -0.14rem;
			}
	    }
    }
}

.qr-box{
	height: 5.4rem;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
	padding-top: 0.4rem;
	.qr-wrap{
		width: 4.45rem;
		height: 4.45rem;
		margin: auto;
		background: url("images/qr.png")no-repeat center;
		background-size: cover;
	}
	p{
		font-family: "PingFang SC Medium";
	    font-size: 0.3rem;
	    color: #cecece;
	}
}
/*this is the serviceDest.html*/
.main-page{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	.top-nav{
		ul{
			li{
				height: 0.9rem;
				line-height: 0.9rem;
				width: 2.5rem;
				text-align: center;
				font-family: "PingFang SC Thin";
				font-size: 0.32rem;
				color: #6c6c6c;
				float: left;
				position: relative;
				&.active{
					color: #50575e;
					border-bottom: 1px solid #848b93;
					&:after{
						position:absolute;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						border-left:0.1rem solid transparent;
						border-right:0.1rem solid transparent;
						border-bottom:0.1rem solid #848b93;
						content:" ";
						width:0;
						height:0
					}
				}
			}
		}
	}
	.page-content{
		background-color: #f4f4f4;
		flex: 1;
		.order-item{
			width: 7.1rem;
			margin: 0 auto;
			margin-top: 0.2rem;
			background: #fff;
			.item-title{
				height: 0.75rem;
				line-height: 0.75rem;
				font-size: 0.32rem;
				font-family: "PingFang SC Medium";
				.sj{
					color: #0dc1ac;
				}
				.dc{
					color: #e9666f;
				}
				.bc{
					color: #fbb200;
				}
				.jj{
					color: #45b4ed;
				}
				i{
    			display: inline-block;
				width: 0.6rem;
				height: 0.55rem;
				vertical-align: middle;
    			}
    			.icon-sj{
					background: url("images/icon-sj.png")no-repeat center;
					background-size: contain;
    			}
    			.icon-dc{
    				background: url("images/icon-dc.png")no-repeat center;
					background-size: contain;
    			}
    			.icon-bc{
    				background: url("images/icon-bc.png")no-repeat center;
					background-size: contain;
    			}
    			.icon-jj{
    				background: url("images/icon-jj.png")no-repeat center;
					background-size: contain;
    			}
			}
			.time-box{
				height: 1.2rem;
				padding-left: 0.2rem;
				padding-top: 0.15rem;
				border-top: 1px dotted #e1e1e1;
				border-bottom: 1px dotted #e1e1e1;
				p{
					font-size: 0.32rem;
					color: #242424;
					i{
		    			display: inline-block;
						width: 0.2rem;
						height: 0.2rem;
						vertical-align: middle;
					}
					span{
						vertical-align: middle;	
					}
					.icon-time-s{
						background: url("images/icon-time-s.png")no-repeat center;
						background-size: contain;
		    		}
		    		.icon-time-e{
						background: url("images/icon-time-e.png")no-repeat center;
						background-size: contain;
		    		}
				}
			}
			.item-tips{
				font-family: "PingFang SC Thin";
				font-size: 0.28rem;
				text-align: center;
				height: 0.75rem;
				line-height: 0.75rem;
				.ing{
					color: #c5984b;
				}
				.overtime{
					color: #e1656d;
				}
			}
		}
	}
	.bottom-nav{
		height: 1.1rem;
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -moz-justify-content: space-around;
	    -webkit-justify-content: space-around;
	    justify-content: space-around;
	    span{
	    	display: block;

	    }
	}
}













