html, body {
  height: 100%; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*this is the index.html*/
.wrapper {
  font-family: "PingFang SC";
  width: 7.5rem;
  height: 100%; }

.topbar {
  width: 100%;
  height: 0.9rem;
  background: #000;
  color: #fff;
  font-size: 0;
  text-align: center;
  position: relative; }
  .topbar div {
    display: inline-block; }
  .topbar .back {
    width: 0.18rem;
    height: 0.31rem;
    background: url("images/back.png") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 0.3rem;
    margin-top: -0.15rem; }
  .topbar .top-title {
    font-size: 0.34rem;
    font-weight: bold;
    line-height: 0.9rem; }
  .topbar .right-btn {
    font-size: 0.3rem;
    color: #fff;
    height: 0.9rem;
    position: absolute;
    right: 0.2rem; }
  .topbar .history {
    width: 0.5rem;
    height: 0.5rem;
    background: url("images/history.png") no-repeat center;
    background-size: cover;
    position: absolute;
    right: 0.3rem;
    top: 50%;
    margin-top: -0.25rem; }

.detail {
  height: 2.4rem;
  width: 100%;
  margin-top: -1px;
  background: black;
  display: box;
  display: -moz-box;
  display: -webkit-box; }
  .detail .detail-item {
    width: 50%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: table; }
  .detail .inner {
    display: table-cell;
    vertical-align: middle; }
    .detail .inner .inner-num {
      font-size: 0.6rem;
      font-weight: bold; }
      .detail .inner .inner-num span {
        font-size: 0.28rem; }
    .detail .inner .inner-info {
      font-size: 0.3rem;
      color: #cecece; }
      .detail .inner .inner-info span {
        display: inline-block;
        height: 0.26rem;
        width: 0.26rem;
        background: url("images/que.png") no-repeat center;
        background-size: cover; }

.main-wrapper {
  width: 7.1rem;
  margin: 0 auto;
  position: relative; }

.order {
  margin-top: 0.36rem; }
  .order .order-title {
    font-size: 0.26rem;
    color: #adadad;
    margin-bottom: 0.15rem;
    margin-left: 0.2rem; }
  .order .order-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    padding: 0 0.4rem; }
    .order .order-wrap .order-item {
      text-align: center;
      width: 1.15rem;
      border-bottom: 2px solid #ffcf00;
      position: relative; }
      .order .order-wrap .order-item span {
        display: block;
        width: 1rem;
        height: 0.8rem;
        margin: 0.1rem auto; }
      .order .order-wrap .order-item .air {
        background: url("images/jsj.png") no-repeat center;
        background-size: cover; }
      .order .order-wrap .order-item .once {
        background: url("images/dc.png") no-repeat center;
        background-size: cover; }
      .order .order-wrap .order-item .daily {
        background: url("images/bc.png") no-repeat center;
        background-size: cover; }
      .order .order-wrap .order-item .define {
        background: url("images/zdy.png") no-repeat center;
        background-size: cover; }
      .order .order-wrap .order-item .new {
        width: 0.44rem;
        height: 0.2rem;
        background: url("images/new.png") no-repeat center;
        background-size: cover;
        position: absolute;
        top: 0.1rem;
        left: 0; }
      .order .order-wrap .order-item p {
        font-size: 0.28rem;
        font-weight: bold;
        color: #111111; }
        .order .order-wrap .order-item p .icon {
          display: inline-block;
          font-style: normal;
          height: 0.22rem;
          width: 0.22rem;
          background: url("images/que.png") no-repeat center;
          background-size: cover;
          position: absolute;
          right: -0.25rem;
          bottom: 0.1rem; }

.res-wrap {
  margin-top: 0.76rem; }
  .res-wrap .res-list {
    border-bottom: 1px solid #e8e8e8;
    margin-top: 0.6rem; }
    .res-wrap .res-list:last-child {
      border-bottom: none; }
    .res-wrap .res-list a {
      display: block;
      overflow: hidden; }
      .res-wrap .res-list a .img-wrap {
        width: 2.75rem;
        height: 1.78rem;
        background: url("images/res.png") no-repeat center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0; }
      .res-wrap .res-list a .cont-wrap {
        height: 1.78rem;
        margin-left: 3.05rem;
        font-weight: bold;
        position: relative; }
        .res-wrap .res-list a .cont-wrap .list-title {
          font-size: 0.28rem;
          color: #000; }
        .res-wrap .res-list a .cont-wrap .list-price {
          font-size: 0.34rem;
          color: #111111;
          position: absolute;
          bottom: 0;
          left: 0; }
          .res-wrap .res-list a .cont-wrap .list-price span {
            font-size: 0.26rem; }
      .res-wrap .res-list a .opt-title {
        font-size: 0.24rem;
        color: #adadad;
        margin-top: 0.26rem;
        margin-bottom: 0.56rem; }
        .res-wrap .res-list a .opt-title p {
          display: inline-block; }
        .res-wrap .res-list a .opt-title span {
          display: inline-block;
          width: 0.8rem;
          height: 0.35rem;
          line-height: 0.35rem;
          border-radius: 0.05rem;
          color: #fff;
          margin-right: 0.16rem;
          box-sizing: content-box;
          padding: 0 0.1rem;
          text-align: center;
          white-space: nowrap; }
        .res-wrap .res-list a .opt-title .type-z {
          background: #7ec15f; }
        .res-wrap .res-list a .opt-title .type-s {
          background: #ef984b; }

.bottom {
  margin: 0.04rem 0.72rem 0.6rem;
  text-align: center;
  position: relative; }
  .bottom .line {
    border-bottom: 1px solid #cecece;
    width: 1.1rem;
    position: absolute;
    top: 0.3rem; }
    .bottom .line:first-child {
      left: 0; }
    .bottom .line:last-child {
      right: 0; }
  .bottom p {
    font-size: 0.26rem;
    color: #cecece; }

/* this is the index popup*/
.popup-wrapper {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 50%;
  z-index: 100; }
  .popup-wrapper .popup-inner {
    width: 5.4rem;
    height: 3rem;
    margin: 0 auto;
    padding-top: 0.4rem;
    padding-bottom: 0.65rem;
    background: #fff;
    border-radius: 0.1rem;
    position: relative; }
    .popup-wrapper .popup-inner .btn-close {
      width: 0.4rem;
      height: 0.62rem;
      background: url(images/close.png) no-repeat center;
      background-size: cover;
      position: absolute;
      right: 0;
      top: -0.6rem; }
    .popup-wrapper .popup-inner .title-wrap {
      width: 3.36rem;
      height: 0.56rem;
      line-height: 0.56rem;
      margin: 0 auto;
      margin-bottom: 0.5rem;
      color: #fff;
      text-align: center;
      font-size: 0.3rem;
      background: url(images/bg.png) no-repeat center;
      background-size: cover; }
    .popup-wrapper .popup-inner .inner-text {
      font-size: 0.26rem;
      color: #727272;
      padding: 0 0.34rem; }
      .popup-wrapper .popup-inner .inner-text span {
        color: #111;
        font-weight: bold; }

/*this is the detail.html*/
.detail-con .user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0.25rem 0;
  font-family: "PingFang SC Medium";
  border-bottom: 1px solid #e4e4e4;
  font-size: 0.3rem;
  color: #111111; }
  .detail-con .user .con-l > p.in-type, .detail-con .user .con-l > p.time {
    font-size: 0.24rem;
    color: #adadad; }
  .detail-con .user .con-l > p.time {
    font-family: "PingFang SC"; }

/*this is the detail_no.html*/
.detail-inner {
  text-align: center;
  margin: 0 auto;
  margin-top: 2.16rem;
  color: #adadad; }
  .detail-inner .imgbox {
    display: inline-block;
    width: 1.15rem;
    height: 1.45rem;
    background: url("images/no.png") no-repeat center;
    background-size: cover; }
  .detail-inner h2 {
    font-size: 0.46rem;
    margin-bottom: 0.2rem; }
  .detail-inner p {
    font-family: "PingFang SC Medium";
    font-size: 0.36rem; }
    .detail-inner p span {
      display: inline-block;
      width: 0.36rem;
      height: 0.36rem;
      background: url("images/sad.png") no-repeat center;
      background-size: cover;
      vertical-align: middle; }

/*this is the transfer.html*/
input::-webkit-input-placeholder {
  color: #cecece; }
input::-moz-placeholder {
  color: #cecece; }
input::-ms-input-placeholder {
  color: #cecece; }

.topbar > .top-tab {
  width: 4.2rem;
  height: 0.58rem;
  border: 2px solid #fff;
  color: #fff;
  background: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  margin-top: -0.29rem;
  left: 50%;
  margin-left: -2.1rem;
  border-radius: 0.1rem;
  overflow: hidden; }
  .topbar > .top-tab .tab-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    line-height: 0.5rem;
    text-align: center;
    font-size: 0.28rem;
    cursor: pointer; }
  .topbar > .top-tab .current {
    color: #111;
    background: #fff; }

.main-content {
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
  padding-top: 0.4rem; }
  .main-content .form-wrap, .main-content .daily-wrap {
    margin: 0 0.3rem 0.9rem 0.3rem;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 0.1rem; }
    .main-content .form-wrap .form-item, .main-content .daily-wrap .form-item {
      height: 1rem;
      line-height: 1rem;
      border-bottom: 1px solid #e0e0e0;
      padding-left: 0.4rem;
      position: relative; }
      .main-content .form-wrap .form-item:last-child, .main-content .daily-wrap .form-item:last-child {
        border-bottom: none; }
      .main-content .form-wrap .form-item .label, .main-content .daily-wrap .form-item .label, .main-content .form-wrap .form-item input, .main-content .daily-wrap .form-item input {
        display: block; }
      .main-content .form-wrap .form-item .label, .main-content .daily-wrap .form-item .label {
        font-size: 0.32rem;
        color: #111;
        font-weight: bold; }
      .main-content .form-wrap .form-item .content, .main-content .daily-wrap .form-item .content {
        font-size: 0.3rem;
        color: #727272;
        font-family: "PingFang SC Medium";
        height: 100%;
        position: absolute;
        top: 0;
        right: 0.75rem;
        text-align: right; }
      .main-content .form-wrap .form-item .arrow-r, .main-content .daily-wrap .form-item .arrow-r {
        display: inline-block;
        font-style: normal;
        width: 0.16rem;
        height: 0.28rem;
        background: url("images/arrow_r.png") center no-repeat;
        background-size: cover;
        position: absolute;
        right: 0.3rem;
        top: 50%;
        margin-top: -0.14rem; }
  .main-content .serach-btn {
    display: block;
    width: 6.9rem;
    height: 0.8rem;
    margin: 0 auto;
    color: #fff;
    background: #ffcf03;
    font-size: 0.32rem;
    font-weight: bold;
    border-radius: 0.05rem; }
  .main-content .btn-disabled {
    background: #e0e0e0;
    color: #cecece; }
  .main-content .daily-wrap {
    margin-bottom: 0.2rem; }
    .main-content .daily-wrap .check-box {
      height: 0.95rem;
      font-size: 0.3rem;
      font-weight: bold;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid #e0e0e0; }
      .main-content .daily-wrap .check-box span {
        display: block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        line-height: 0.95rem;
        text-align: center;
        color: #adadad; }
        .main-content .daily-wrap .check-box span.current {
          color: #111;
          border-bottom: 2px solid #111; }
    .main-content .daily-wrap .date-box {
      height: 1.4rem;
      line-height: 1.4rem;
      border-bottom: none; }
      .main-content .daily-wrap .date-box input.start {
        height: 50%;
        top: 10%; }
      .main-content .daily-wrap .date-box input.end {
        height: 50%;
        top: 40%; }
      .main-content .daily-wrap .date-box .total {
        font-size: 0.24rem;
        font-family: "PingFang SC Medium";
        color: #adadad;
        line-height: 0.8rem;
        position: absolute;
        top: 36%;
        right: 2.15rem;
        display: none; }

/*this is the define.html*/
.define-cont {
  height: 100%;
  width: 100%;
  background-color: #f4f4f4; }
  .define-cont .form-row {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 0.2rem;
    background: #fff; }
    .define-cont .form-row:last-child {
      margin-bottom: 0; }
    .define-cont .form-row h2 {
      font-size: 0.32rem;
      color: #111;
      border-left: 0.06rem solid #ffcf03;
      margin-top: 0.3rem;
      padding-left: 0.1rem;
      margin-left: 0.3rem; }
    .define-cont .form-row .order-type {
      margin: 0.3rem; }
      .define-cont .form-row .order-type span {
        display: inline-block;
        height: 0.6rem;
        line-height: 0.55rem;
        border: 2px solid #e0e0e0;
        padding: 0 0.36rem;
        color: #adadad;
        font-size: 0.28rem;
        border-radius: 0.4rem;
        float: left;
        margin-right: 0.2rem; }
        .define-cont .form-row .order-type span:last-child {
          margin-right: 0; }
        .define-cont .form-row .order-type span.current {
          background: #ffcf03;
          color: #fff;
          border: none;
          line-height: 0.6rem; }
        .define-cont .form-row .order-type span.disabled {
          background: #e0e0e0; }
    .define-cont .form-row .row-item {
      height: 1rem;
      line-height: 1rem;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      position: relative;
      border-bottom: 1px solid #e0e0e0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -moz-justify-content: space-between;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal; }
      .define-cont .form-row .row-item:last-child {
        border-bottom: none; }
      .define-cont .form-row .row-item span {
        font-size: 0.28rem;
        color: #727272;
        white-space: nowrap; }
        .define-cont .form-row .row-item span.area-code {
          position: absolute;
          right: 2.6rem;
          border-right: 1px solid #ccc;
          height: 0.3rem;
          line-height: 0.3rem;
          top: 0.35rem;
          padding-right: 0.2rem;
          color: #cecece; }
        .define-cont .form-row .row-item span.yuan {
          position: absolute;
          right: 0.3rem;
          border-left: 1px solid #ccc;
          height: 0.3rem;
          line-height: 0.3rem;
          top: 0.35rem;
          padding-left: 0.2rem; }
        .define-cont .form-row .row-item span.income {
          height: 0.75rem;
          border-bottom: 2px solid #ffcf03; }
        .define-cont .form-row .row-item span.price {
          color: #ffcf03; }
      .define-cont .form-row .row-item input {
        font-family: "PingFang SC Medium";
        font-size: 0.28rem;
        color: #727272;
        text-align: right;
        width: 5rem; }
        .define-cont .form-row .row-item input.time {
          padding-right: 0.35rem; }
        .define-cont .form-row .row-item input.contact {
          width: 2.3rem; }
      .define-cont .form-row .row-item .arrow-r {
        display: inline-block;
        font-style: normal;
        width: 0.16rem;
        height: 0.28rem;
        background: url("images/arrow_r.png") center no-repeat;
        background-size: cover;
        position: absolute;
        right: 0.3rem;
        top: 50%;
        margin-top: -0.14rem; }
    .define-cont .form-row .c-height {
      height: 1.25rem; }
      .define-cont .form-row .c-height span {
        line-height: 1.25rem; }
    .define-cont .form-row .message {
      height: 0.6rem;
      line-height: 0.6rem;
      background-color: #f4f4f4;
      color: #adadad;
      font-family: "PingFang SC Medium";
      font-size: 0.22rem;
      border-bottom: 1px solid #e0e0e0; }
      .define-cont .form-row .message span {
        display: inline-block;
        width: 0.22rem;
        height: 0.22rem;
        background: url("images/tips.png") no-repeat center;
        background-size: cover;
        margin-left: 0.3rem;
        margin-right: 0.1rem; }

.form-row .row-bottom {
  height: 1.2rem;
  background-color: #fff;
  position: relative; }
  .form-row .row-bottom .price-box {
    padding-left: 0.3rem;
    height: 1.2rem;
    display: table; }
    .form-row .row-bottom .price-box span:first-child {
      font-size: 0.28rem;
      color: #adacac;
      display: table-cell;
      vertical-align: middle;
      padding-right: 0.3rem; }
    .form-row .row-bottom .price-box span:last-child {
      font-size: 0.44rem;
      color: #111;
      font-weight: bold;
      display: table-cell;
      vertical-align: middle; }
      .form-row .row-bottom .price-box span:last-child i {
        font-style: normal;
        font-size: 0.3rem; }
  .form-row .row-bottom button {
    height: 0.8rem;
    padding: 0 0.3rem;
    background: #e0e0e0;
    font-size: 0.32rem;
    color: #cecece;
    border-radius: 0.1rem;
    position: absolute;
    right: 0.3rem;
    top: 0.2rem; }
    .form-row .row-bottom button.active {
      color: #fff;
      background: #ffcf03; }

/*this is the confirm.html*/
.list-wrap {
  padding: 0.3rem;
  margin-bottom: 0.2rem;
  position: relative;
  font-family: "PingFang SC Thin";
  background: #fff;
  border-bottom: 1px solid #e0e0e0; }
  .list-wrap .type-box {
    position: absolute;
    left: 0.3rem;
    top: 0.37rem; }
    .list-wrap .type-box .type-s {
      display: block;
      width: 0.85rem;
      height: 0.4rem;
      line-height: 0.4rem;
      text-align: center;
      font-size: 0.24rem;
      color: #fff;
      background: #44d435;
      border-radius: 0.05rem;
      white-space: nowrap; }
  .list-wrap .res-title {
    margin-left: 1rem; }
    .list-wrap .res-title p {
      font-size: 0.32rem;
      color: #333;
      line-height: 0.48rem; }
  .list-wrap .order-detail {
    font-size: 0.26rem;
    color: #999999;
    margin-top: 0.2rem; }
    .list-wrap .order-detail span:first-child {
      margin-right: 0.6rem; }

.main-content .date-chose {
  height: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
  margin-bottom: 1.15rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .main-content .date-chose span {
    font-size: 0.32rem;
    color: #333333;
    line-height: 1rem; }
  .main-content .date-chose input {
    font-family: "PingFang SC Medium";
    font-size: 0.3rem;
    color: #727272;
    text-align: right; }

/*this is the chosecar.html*/
.form-row .car-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0; }
  .form-row .car-wrap .car-item {
    font-family: "PingFang SC Medium";
    text-align: center; }
    .form-row .car-wrap .car-item .img-wrap {
      width: 2.72rem;
      height: 0.88rem;
      margin: 0 auto;
      background: url("images/car_5.png") no-repeat center;
      background-size: cover; }
    .form-row .car-wrap .car-item .small {
      width: 1.3rem;
      height: 0.5rem; }
    .form-row .car-wrap .car-item .car-type {
      font-size: 0.28rem;
      color: #111;
      margin: 0.15rem 0; }
    .form-row .car-wrap .car-item .car-detail {
      font-size: 0.26rem;
      color: #adadad; }
  .form-row .car-wrap .minor {
    align-self: center; }
.form-row .item-s {
  height: 1.25rem;
  position: relative;
  border-bottom: 1px solid #e0e0e0; }
  .form-row .item-s .title {
    line-height: 1.25rem;
    font-size: 0.28rem;
    color: #727272;
    white-space: nowrap;
    float: left;
    margin-left: 0.3rem; }
  .form-row .item-s .btn {
    float: right;
    height: 0.35rem;
    line-height: 0.35rem;
    font-size: 0.22rem;
    color: #cecece;
    border: 1px solid #cecece;
    padding: 0 0.15rem;
    margin-right: 0.3rem;
    position: relative;
    top: 0.45rem; }
  .form-row .item-s .active {
    color: #ffcf03;
    border: 1px solid #ffcf03; }
  .form-row .item-s .delete {
    font-style: normal;
    display: none;
    width: 0.32rem;
    height: 0.3rem;
    background: url("images/delete.png") no-repeat center;
    background-size: cover;
    float: right;
    margin-right: 0.3rem;
    position: relative;
    top: 0.45rem; }
  .form-row .item-s input {
    float: right;
    margin-right: 0.2rem;
    font-family: "PingFang SC Medium";
    font-size: 0.28rem;
    color: #727272;
    text-align: right;
    height: 100%; }

.popup-wrapper .popup-cont {
  height: 3.3rem;
  width: 5.4rem;
  background: #fff;
  text-align: center;
  border-radius: 0.3rem;
  margin: 0 auto; }
  .popup-wrapper .popup-cont .cont-text {
    font-family: "PingFang SC Medium";
    font-size: 0.32rem;
    padding-top: 1.15rem;
    padding-bottom: 0.85rem; }
    .popup-wrapper .popup-cont .cont-text span {
      color: #ffcf03; }
  .popup-wrapper .popup-cont .cont-btn {
    display: flex;
    border-top: 1px solid #cecece;
    height: 0.98rem; }
    .popup-wrapper .popup-cont .cont-btn button {
      flex: 1;
      color: #1b1812;
      font-size: 0.3rem; }
      .popup-wrapper .popup-cont .cont-btn button.btn-hr {
        border-right: 1px solid #cecece; }

/*this is the chosecar.html*/
.order-cont {
  height: 100%;
  width: 100%;
  background-color: #f4f4f4; }
  .order-cont .order-info {
    padding: 0.4rem 0.3rem;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 0.2rem; }
    .order-cont .order-info h2 {
      font-size: 0.32rem;
      color: #111;
      font-weight: bold; }
    .order-cont .order-info .list-wrap {
      padding: 0;
      margin-bottom: 0;
      border-bottom: 0; }
      .order-cont .order-info .list-wrap .type-box {
        left: 0;
        top: 0.1rem; }
    .order-cont .order-info .info-item {
      margin-top: 0.35rem;
      font-size: 0.3rem;
      font-family: "PingFang SC Medium";
      color: #727272;
      line-height: 1.5; }
      .order-cont .order-info .info-item i {
        display: inline-block;
        width: 0.3rem;
        height: 0.3rem;
        margin-right: 0.3rem;
        vertical-align: middle; }
      .order-cont .order-info .info-item .icon-time {
        background: url("images/icon-time.png") no-repeat center;
        background-size: contain; }
      .order-cont .order-info .info-item .icon-start {
        background: url("images/icon-start.png") no-repeat center;
        background-size: contain; }
      .order-cont .order-info .info-item .icon-end {
        background: url("images/icon-end.png") no-repeat center;
        background-size: contain; }
      .order-cont .order-info .info-item .icon-car-type {
        background: url("images/icon-car-type.png") no-repeat center;
        background-size: contain; }
      .order-cont .order-info .info-item .icon-dis {
        background: url("images/icon-dis.png") no-repeat center;
        background-size: contain; }
      .order-cont .order-info .info-item .icon-range {
        background: url("images/icon-range.png") no-repeat center;
        background-size: contain; }
      .order-cont .order-info .info-item small {
        font-family: "PingFang SC";
        font-size: 0.26rem;
        color: #adadad;
        padding-left: 0.7rem;
        display: inherit; }
    .order-cont .order-info .order-number {
      height: 0.6rem;
      line-height: 0.6rem;
      font-family: "PingFang SC Medium";
      font-size: 0.24rem;
      color: #737373;
      border-top: 1px solid #e0e0e0;
      margin: 0 -0.3rem;
      margin-top: 0.35rem;
      padding-left: 0.3rem; }
    .order-cont .order-info .trip-detail {
      background-color: #fffde0;
      border-top: 1px dotted #f4e28e;
      border-bottom: 1px dotted #f4e28e;
      margin-top: 0.35rem;
      padding-bottom: 0.7rem;
      position: relative; }
      .order-cont .order-info .trip-detail .days-wrap {
        overflow: hidden; }
        .order-cont .order-info .trip-detail .days-wrap .day-wrap {
          position: relative;
          padding: 0.2rem 0.6rem; }
          .order-cont .order-info .trip-detail .days-wrap .day-wrap:before {
            content: '';
            position: absolute;
            top: -0.3rem;
            left: 0.34rem;
            height: 0.6rem;
            width: 1px;
            background: #3c3830;
            z-index: 1; }
          .order-cont .order-info .trip-detail .days-wrap .day-wrap:last-of-type:after {
            content: '';
            position: absolute;
            left: 0.32rem;
            top: 0.4rem;
            height: 0.5rem;
            background-color: #fffde0;
            width: 3px;
            z-index: 2; }
          .order-cont .order-info .trip-detail .days-wrap .day-wrap:first-of-type:after {
            content: '';
            position: absolute;
            left: 0.32rem;
            top: -0.1rem;
            height: 0.4rem;
            background-color: #fffde0;
            width: 3px;
            z-index: 2; }
          .order-cont .order-info .trip-detail .days-wrap .day-wrap .meta-tag {
            position: absolute;
            left: 0.25rem;
            top: 0.3rem;
            background-color: #3c3830;
            border: 1px solid #fffde0;
            width: 0.2rem;
            height: 0.2rem;
            border-radius: 50%;
            z-index: 3; }
          .order-cont .order-info .trip-detail .days-wrap .day-wrap p {
            font-size: 0.26rem;
            color: #333333; }
      .order-cont .order-info .trip-detail .trip-detail-ctrl {
        position: absolute;
        left: 50%;
        bottom: 0.3rem;
        transform: translateX(-50%);
        text-align: center;
        font-size: 0.24rem;
        color: #333;
        font-family: "PingFang SC Thin"; }
        .order-cont .order-info .trip-detail .trip-detail-ctrl i {
          display: inline-block;
          width: 0.24rem;
          height: 0.13rem;
          background: url("images/arrow_b.png") no-repeat center;
          background-size: cover; }
  .order-cont .form-row {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #fff; }
    .order-cont .form-row .row-item {
      height: 1rem;
      line-height: 1rem;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      position: relative;
      border-bottom: 1px solid #e0e0e0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -moz-justify-content: space-between;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal; }
      .order-cont .form-row .row-item span {
        flex: 1;
        font-size: 0.32rem;
        font-weight: bold;
        color: #111;
        white-space: nowrap;
    	/*/*&.area-code {
		    position: absolute;
		    right: 2.5rem;
		    border-right: 1px solid #ccc;
		    height: 0.3rem;
		    line-height: 0.3rem;
		    top: 0.34rem;
		    padding-right: 0.2rem;
		    font-family: "PingFang SC Medium";
		    font-size: 0.3rem;
		    font-weight: normal;
		    color: #cecece;
		}*/ }
        .order-cont .form-row .row-item span.aaaaa {
          flex: 1; }
        .order-cont .form-row .row-item span.filled {
          color: #727272; }
      .order-cont .form-row .row-item input {
        font-family: "PingFang SC Medium";
        font-size: 0.3rem;
        color: #727272;
        text-align: right;
        width: 5rem; }
        .order-cont .form-row .row-item input.contact {
          width: 2.3rem; }
      .order-cont .form-row .row-item .arrow-r {
        display: inline-block;
        font-style: normal;
        width: 0.16rem;
        height: 0.28rem;
        background: url("images/arrow_r.png") center no-repeat;
        background-size: cover;
        position: absolute;
        right: 0.3rem;
        top: 50%;
        margin-top: -0.14rem; }

.qr-box {
  height: 5.4rem;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  padding-top: 0.4rem; }
  .qr-box .qr-wrap {
    width: 4.45rem;
    height: 4.45rem;
    margin: auto;
    background: url("images/qr.png") no-repeat center;
    background-size: cover; }
  .qr-box p {
    font-family: "PingFang SC Medium";
    font-size: 0.3rem;
    color: #cecece; }

/*this is the serviceDest.html*/
.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .main-page .top-nav ul li {
    height: 0.9rem;
    line-height: 0.9rem;
    width: 2.5rem;
    text-align: center;
    font-family: "PingFang SC Thin";
    font-size: 0.32rem;
    color: #6c6c6c;
    float: left;
    position: relative; }
    .main-page .top-nav ul li.active {
      color: #50575e;
      border-bottom: 1px solid #848b93; }
      .main-page .top-nav ul li.active:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-left: 0.1rem solid transparent;
        border-right: 0.1rem solid transparent;
        border-bottom: 0.1rem solid #848b93;
        content: " ";
        width: 0;
        height: 0; }
  .main-page .page-content {
    background-color: #f4f4f4;
    flex: 1; }
    .main-page .page-content .order-item {
      width: 7.1rem;
      margin: 0 auto;
      margin-top: 0.2rem;
      background: #fff; }
      .main-page .page-content .order-item .item-title {
        height: 0.75rem;
        line-height: 0.75rem;
        font-size: 0.32rem;
        font-family: "PingFang SC Medium"; }
        .main-page .page-content .order-item .item-title .sj {
          color: #0dc1ac; }
        .main-page .page-content .order-item .item-title .dc {
          color: #e9666f; }
        .main-page .page-content .order-item .item-title .bc {
          color: #fbb200; }
        .main-page .page-content .order-item .item-title .jj {
          color: #45b4ed; }
        .main-page .page-content .order-item .item-title i {
          display: inline-block;
          width: 0.6rem;
          height: 0.55rem;
          vertical-align: middle; }
        .main-page .page-content .order-item .item-title .icon-sj {
          background: url("images/icon-sj.png") no-repeat center;
          background-size: contain; }
        .main-page .page-content .order-item .item-title .icon-dc {
          background: url("images/icon-dc.png") no-repeat center;
          background-size: contain; }
        .main-page .page-content .order-item .item-title .icon-bc {
          background: url("images/icon-bc.png") no-repeat center;
          background-size: contain; }
        .main-page .page-content .order-item .item-title .icon-jj {
          background: url("images/icon-jj.png") no-repeat center;
          background-size: contain; }
      .main-page .page-content .order-item .time-box {
        height: 1.2rem;
        padding-left: 0.2rem;
        padding-top: 0.15rem;
        border-top: 1px dotted #e1e1e1;
        border-bottom: 1px dotted #e1e1e1; }
        .main-page .page-content .order-item .time-box p {
          font-size: 0.32rem;
          color: #242424; }
          .main-page .page-content .order-item .time-box p i {
            display: inline-block;
            width: 0.2rem;
            height: 0.2rem;
            vertical-align: middle; }
          .main-page .page-content .order-item .time-box p span {
            vertical-align: middle; }
          .main-page .page-content .order-item .time-box p .icon-time-s {
            background: url("images/icon-time-s.png") no-repeat center;
            background-size: contain; }
          .main-page .page-content .order-item .time-box p .icon-time-e {
            background: url("images/icon-time-e.png") no-repeat center;
            background-size: contain; }
      .main-page .page-content .order-item .item-tips {
        font-family: "PingFang SC Thin";
        font-size: 0.28rem;
        text-align: center;
        height: 0.75rem;
        line-height: 0.75rem; }
        .main-page .page-content .order-item .item-tips .ing {
          color: #c5984b; }
        .main-page .page-content .order-item .item-tips .overtime {
          color: #e1656d; }
  .main-page .bottom-nav {
    height: 1.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
    .main-page .bottom-nav span {
      display: block; }

/*# sourceMappingURL=mainStyle.css.map */
