.ui-left-side{
  border-right : 1px solid rgba(151,151,151,.19);
  .input-contain{
    margin-bottom : 10px;
    position : relative;
  }

  span.ant-calendar-picker{
    span.ant-calendar-picker-input.ant-input{
      border: 1px solid #DDDEDF;
      border-radius: 4px;
      height : 34px;
      input,span.ant-calendar-range-picker-separator{
        height : 24px;
        line-height: 24px;
      }
    }
  }
  i.anticon.anticon-caret-down{
    position: absolute;
    right: 12px;
    top: 37px;
    color : #797979;
  }
  .split-line{
    opacity: 0.19;
    border-bottom: 1px solid #979797;
    margin : 0 -18px;

  }
}
