*{
	margin: 0;
	padding: 0;
}
.J-luggage-wrap{
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .img-wrap{
    	width: 900px;
		height: 540px;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	margin-left: -450px;
    	margin-top: -270px;
    	img{
    		width: 100%;
    		height: 100%;
    	}
    	.J-closeLuggage{
    		cursor: pointer;
    		width: 36px;
    		height: 36px;
    		background: url("./images/close.png") no-repeat center;
    		background-size: cover;
    		position: absolute;
    		top: 0;
    		right: -36px;
    	}
    }
}