div#ui-wrap{
	input,button{
		outline: none;
	}
	div.ui-main{
		position: static;
		margin:68px auto auto auto;
	 	// left :50%;
	 	// margin-left: -500px;
	    // padding-left:0;
	    // padding-right:0;
	    width: 1000px;
	    min-width: 1000px;
	    // bottom: 100px;
	}
	div.ui-footer{
		position: static;
	}
}