.c-list-term{
	margin-top: 20px;
	background: #fff;
	border-radius: 4px;
	padding:15px 20px;
	
}
.c-term-choose{
	border-top: 1px solid #f6f6f7;
	span{
		position: relative;
		display: inline-block;
		display: inline-flex;
		margin-top: 10px;
		background: #FFFFFF;
		border: 1px solid #F49F1F;
		border-radius: 4px;
		padding:3px 10px;
		padding-right:30px;
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
	em{
		font-style: inherit;
		font-size: 12px;
		color: #F49F1F;
		margin-left: 10px;
	}
	del{
		position: absolute;
		right:10px;
		top:50%;
		display: inline-block;
		width: 10px;
		height: 10px;
		margin-top: -5px;
		vertical-align: middle;
		color:#F49F1F;
		margin-left: 10px;
		font-style: inherit;
		font-family: Arial;
		background: url('../images/icon-times.png') no-repeat 50% 50%;
		background-size: 100% auto;
		cursor: pointer;
	}
}