.accounts-Explain {
    position: relative;
    z-index: 100;
    line-height: 36px;
    font-size: 14px;
    .mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .6);
    }
    .accounts-wrap {
        position: fixed;
        top: 80px;
        left: 50%;
        bottom: 100px;
        width: 830px;
        max-height: 562px;
        padding: 30px 0;
        margin-left: -415px;
        border-radius: 4px;
        font-size: 14px;
        color: #0E1A27;
        background: #fff;
        .head {
            font-size: 22px;
            padding-bottom: 23px;
            border-bottom: 1px solid #F5F7F9;
            text-align: center;
            .close {
                position: absolute;
                top: 28px;
                right: 30px;
                font-size: 28px;
            }
        }
 }
}