#ui-wrap div.ui-main.ui-fixed-footer{
  bottom : 0 !important;
  
   }
#ui-wrap{
  &>.WG-Map{
    overflow: inherit;
    .amap-logo{
      display: none !important;
    }
    .amap-copyright{
      display: none !important;
    }
    .amap-controls{
      display: none !important;
    }
    .WG-MapFullScreen{
      right: 0;
    top: -1px;
    width: 36px;
    height: 36px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAABdklEQVRYCe2WUVKDQAyGU28AV4DR6TmsbQ9gR31u1TuoF1HbE9QD2FqPwhXgCDh/xzC4CkkWHnBm92WBkOy3f0LY0enZuKQBjZMBsRxRApCUkaBQUEhSQLL/3xpaLC4piiJpg7/s8IGvdqgUurm+oqfHB9qsX0xQgIEPfBFDM1RAu/0HZVlGSZKooRgGPvB93+01PKQCyvOcVrf3aigXZrm6o6Io+gNCJC1UFxiso1KItyZBdYUxAzUpFcfxsdhRwFwzljTxhjGPfM9DgFi/PlcACNYVphMQnOtQuMfX5KsM/DFMNfTtU01l+fOw6d5XLxouvIHcAoY6aZqq+1QToxeQC4M0WfpUEwyem4H+gkHTk1pCG0TdZgJqguGAfUCpgSSYOhRSaP33sb8KCJ+3pekhhb5QKqDZ9MLc9Fyo+WzKIrTO6k6NQ9bh8Kn+a/OqSPVkck7b7Rs/ap3VQK1RejSqUtbjemKoACRJFBQKCkkKSPbB1dAXR6T7Yn6om3AAAAAASUVORK5CYII=) !important;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: rgba(0,0,0,.5);
    background-position: 50%;
    background-repeat: no-repeat;
    text-indent: -9999em;
    padding : 0;
    }
  }
  .ui-main{
    margin-top:20px;
    margin-bottom:20px;
    div.ui-left-side,div.ui-middle-side{
      bottom : 0;
    }

  }
}
