<!DOCTYPE html>
<html>
<head lang="zh-cn">
  <meta charset="utf-8" />
  <title>云地接-订单查询</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
  <meta content="telephone=no" name="format-detection" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <script src="//fr-static.huangbaoche.com/hbc-cdn/static/js/esshim/2.0.0/esshim.js"></script>
<script src="//fr-static.huangbaoche.com/hbc-cdn/static/js/polyfill/7.0.0/polyfill.min.js"></script>
  <script src="//fr-static.huangbaoche.com/hbc-cdn/static/js/bluebird/3.5.0/bluebird.min.js"></script>
    <link rel="shortcut icon" href="https://www.yundijie.com/webapp/favicon.ico">
  <link href="https://fr-static.huangbaoche.com/hbc-cdn/static/css/antd.min.css" rel="stylesheet"/>
  <script src="https://fr-static.huangbaoche.com/hbc-cdn/static/js/reactVendor/15.5.5/reactVendor.js"></script>
  <script>
    (function(doc, win) {
      /** */
      var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function() {
          var clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          docEl.style.fontSize = 50 * (clientWidth / 375) > 100 ? (100 + 'px') : (50 * (clientWidth / 375) + 'px');
        };
      // Abort if browser does not support addEventListener
      if (!doc.addEventListener) return;
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
  </script>
</head>
<body style="-webkit-overflow-scrolling:none">
  <div class="wrap" id="wrap">

  </div>
</body>
</html>
