.ui-order-user {
    .ui-user-list {
        padding-bottom: 30px;
        border-bottom: 1px solid #ecedef;
        label.ui-input {
            display: inline-block;
            width: auto;
            del {
                display: none;
            }
            span.show {
                top: auto;
                bottom: -20px;
            }
        }
        .ui-house-group .guest-row {
            dfn {
                del {
                    padding-left: 0;
                }
            }
        	span.show {
                top: auto;
                bottom: -20px;
            }
        	label {
        		display: inline-block!important;
                width: 140px;
                input {
                    width: 100%;
                }
            }
        }
        .usernumber-wrap,
        .linkname-wrap,
        .linkemail-wrap {
            .ui-input {
                width: 480px;
                input {
                    width: 100%;
                }
            }
        }

        .userprice-wrap {
            s {
                display: inline-block;
                width: auto;
                margin-left: 14px;
            }
            .ui-input {
                width: 164px;
                input {
                    width: 100%;
                    text-align: right;
                }
            }
        }

        .linkphone-wrap {
        	.ui-areacode {
        		.ui-input {
	                width: 100px;
	                input {
	                    width: 100%;
	                }
	            }
        	}
            > .ui-input {
                width: 370px;
                input {
                    width: 100%;
                }
            }
        }

        .line {
            border-bottom: 1px dotted #ecedef;
            line-height: 40px;
        }
        .ui-line-height {
            line-height: 30px;
        }

        dl {
            display: table;
            display: flex;
            width: 100%;
            margin-bottom: 20px;
            padding-right: 20px;
			padding-left:20px;
            &.num-info {
                margin-bottom: 0;
                border-bottom: 0 none;
            }
            &.ountry-info {
                padding-bottom: 20px;
                border-bottom: 1px dotted #9EA5AA;
            }
            dt,
            dd {
                display: table-cell;
                width: 100%;
            }
            dt {
                font-family: MicrosoftYaHei-Bold;
                font-size: 14px;
                text-align: right;
                width: 100px;
                font-weight: bold;
                line-height: 41px;
            }
            .tops {
                line-height: normal;
            }
            dd {
                position: relative;
                font-size: 14px;
                padding-left: 20px;
                s {
                    display: inline-block;
                    width: 100%;
                    margin-top: 5px;
                    text-decoration: none;
                    font-size: 12px;
                    color: #6D767C;
                }
                code {
                    position: absolute;
                    left: 30px;
                    top: 11px;
                    font-family: PingFangSC-Semibold;
                    font-size: 16px;
                    color: #0E1A27;
                }
                del {
                    text-decoration: none;
                    font-family: MicrosoftYaHeiLight;
                    font-size: 14px;
                    color: #FA573D;
                    padding: 0 5px;
                }
                .fixed {
                    position: absolute;
                    top: 13px;
                    left: 0px;
                }
                p {
                    em {
                        color: #FB5B41;
                    }
                }
            }
        }
        h5 {
            font-size: 18px;
            line-height: 30px;
            padding: 30px 0;
        }
        .margin {
            margin-right: 10px;
        }
        .order {
            width: 99%;
        }
        .code {
            width: 90%;
            max-height: 200px;
        }
        .email {
            width: 99%;
            max-width: 500px;
        }
        .auto {
            width: 28%;
            max-width: 200px;
        }
        .linkname {
            width: 99%;
            max-width: 500px;
        }
        .price {
            padding-left: 25px;
        }
        .tel-num {
            font-weight: bold;
            font-size: 16px;
            color: #000000;
        }
        .ui-mark {
            width: 480px;
        }
        input,
        textarea {
            border: 1px solid #DDDEDF;
            border-radius: 4px;
            font-size: 14px;
            padding: 10px;
            &:hover,
            &:focus {
                border-color: rgba(243, 159, 30, 0.5)!important;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(243, 159, 30, 0.5);
            }
        }
    }
}

.ui-submit {
    button {
        border: none;
        outline: none;
        width: 142px;
    }
}

.msg-content {
    p {
        em {
            color: red;
        }
    }
}