*{
  margin:0;
  padding:0;
  boredr:0;
}
.order-detail-main{
  background-color:#ffffff;
  padding-bottom: 66px;
  margin-bottom:139px;
}
.order-detail-wrap {
  padding-left:39px;
  padding-right:39px;
  background: #fff;
  max-width:900px;
  margin:0 auto;
  position:relative;
  .detail-content{
    .border1{
      width:100%;
      border-bottom:1px solid #C9D1DA;
      position:absolute;
      top:93px;
      left:0px;
    }
    .border2{
      width:100%;
      border-bottom:4px solid #C9D1DA;
      position:absolute;
      top:96px;
      left:0px;
    }
    //新的header
    .order-detail-header {
      height:96px;
      position:relative;
      .title{
        display:inline-block;
        margin-top:33px;
        font-family: MicrosoftYaHei-Bold;
        font-size: 24px;
        color: #0E1A27;
        letter-spacing: 0;
      }
    }
    .yuding-msg{
      .yuding-head{
        margin-top:30.5px;
        font-family: MicrosoftYaHei-Bold;
        font-size: 16px;
        color: #0E1A27;
        letter-spacing: 0;
        line-height: 30px;
      }
      .yuding-table1{
        margin-top:9px;
        width:100%;
        table-layout:fixed;
        tr{
          width:100%;
          td{
            width:50%;
            text-align: left;
            line-height: 30px;
            word-wrap: break-word;
            word-break: break-all;
          }
          .guest-name span{
            &:after{
              content:' , ';
            }
          }
          .guest-name span:last-child{
            &:after{
              content:'';
            }
          }
        }
      }
      .yuding-table2{
        margin-top:25.5px;
        width: 100%;
        border: 1px solid #D3DDE6;
        table-layout:fixed;
        .table2-msgs{
          width: 100%;
          td{
            padding-left:5px;
            padding-right:5px;
            max-width: 194px;
            word-wrap: break-word;
            word-break: break-all;
            padding-top:7.5px;
            padding-bottom:8.5px;
            border:1px solid #D3DDE6;
            text-align:center;
            font-size: 12px;
            color: #0E1A27;
            letter-spacing: 0;
            line-height: 20px;
          }
          .red-color{
            color: #FA573D;
            font-size: 16px;
          }
        }
        .table2-column{
          heigth:50px;
          background-color:#F5F7F9;
          td{
            padding-top:7.5px;
            padding-bottom:7.5px;
            font-family: PingFangSC-Semibold;
            line-height:17px;
            border:1px solid transparent;
            border-top:1px solid #D3DDE6;
          }
          .first-td{
            border-left:1px solid #D3DDE6;
          }
          .last-td{
            border-right:1px solid #D3DDE6;
          }
        }
      }
      .canceling-rules-detail{
        width: 524px;
        height: 99px;
        //margin-bottom:66px;
        td{
          width: 164px;
          height: 49.5px;
        }
      }
    }
    .hotel-msg{
      .hotel-msg-head{
        margin-top:20px;
        font-family: MicrosoftYaHei-Bold;
        font-size: 16px;
        color: #0E1A27;
        letter-spacing: 0;
        line-height: 30px;
      }
      table{
        width: 100%;
        margin-top:9px;
        table-layout:fixed;
        tr{
          width: 100%;
          td{
            width: 100%;
            font-size: 12px;
            color: #0E1A27;
            letter-spacing: 0;
            line-height: 30px;
          }
        }
      }
    }
    .attention{
      .noshow{
        margin-bottom:100px;
        .have-padding-bottom{
          padding-bottom:49px;
        }
      }
    }
  }

  .footerBtn {
    background-color: rgba(14, 26, 39, 0.88);
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .download-pdf {
      width: 350px;
      height: 54px;
      background: url(../images/pic-pdf.png) no-repeat center;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}
#ui-wrap div.ui-main.ui-fixed-footer {
  margin: auto;
  position: relative;
}
